<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Venta</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-venta.css}">
    <link rel="stylesheet" th:href="@{/css/style-agregarVenta.css}">

</head>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <form class="ventana-venta" id="formVenta" method="post">
            <div class="head-venta">
                <div class="head-doctran">
                    <select id="documentoTipo" class="select-doc" name="tipo">
                        <option value="">-- Selecciona --</option>
                        <option value="BOLETA">Boleta</option>
                        <option value="FACTURA">Factura</option>
                    </select>

                    <script>
                        const documentoTipo = document.getElementById("documentoTipo")
                        documentoTipo.addEventListener("change", function () {
                            fetch(`http://localhost:8080/api/control/transaccion?tipo=${documentoTipo.value}`)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error("Error el obtener la transaccion")
                                    }
                                    return response.text();
                                })
                                .then(transaccion => {
                                    document.getElementById("transac").textContent = transaccion;
                                    localStorage.setItem("transac", transaccion)
                                })
                                .catch(error => {
                                    console.error("Error ", error)
                                    document.getElementById("transac").textContent = ""
                                })

                        })
                    </script>
                    <div id="input-doc-container">
                        <input type="text" id="numeroDoc" name="numero" placeholder="Ingrese Documento"
                            oninput="validarNumero(this)" autocomplete="off">
                    </div>
                    <button class="btn-anular" type="button">Anular transaccion</button>
                </div>
            </div>
            <div class="body-venta-produc">
                <div class="body-cca">

                    <div class="dropdown-container">
                        <input type="text" class="dropdown-input" placeholder="Buscar producto..." id="productInput"
                            name="productInput" autocomplete="off">
                        <div class="dropdown-list" id="productList">
                            <div class="pro" th:each="producto: ${productos}" th:text="${producto.nombre}"
                                th:attr="data-id=${producto.idProducto},data-nombre=${producto.nombre},data-precio=${producto.precioVenta}">
                            </div>
                        </div>
                    </div>

                    <input class="body-cantidad" type="number" min="1" value="1" name="canti" id="canti">
                </div>

                <div class="body-tabla">
                    <table class="table-produc">
                        <thead>
                            <tr class="table-head">
                                <th>Borrar</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="tablaProductos">
                        </tbody>

                    </table>
                </div>
                <div class="body-irpago">
                    <div class="body-errores">
                        <p id="mensaje">No hay error</p>
                        <button type="button" class="btn-limpiar" id="clear">Limpiar</button>
                    </div>
                    <div class="menu-pagar">
                        <div class="menu-item-total">
                            <div class="menu-pagar-item">
                                <p>Item:</p>
                                <p class="text-right" id="items">4</p>
                            </div>
                            <div class="menu-pagar-total">
                                <p>Total:</p>
                                <p class="text-right" id="total-produc"></p>
                            </div>
                        </div>

                        <div class="bpago">
                            <button class="btn-pago" type="submit">Ir a Pago</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="foot-infoex">
                <p>Fecha: <span id="fecha"></span></p>
                <p>Hora: <span id="hora"></span></p>
                <p>Nro. de transaccion: <span id="transac"></span></p>
                <script th:src="@{/js/horafecha.js}"></script>
            </div>
        </form>
    </main>
    <section class="modal-container">
        <div class="contenedor-modal-anular ventana-close">
            <form th:action="@{/inventario/ventas/anular}" method="post">
                <div class="modal-title-anular">
                    <p>Datos de anulacion</p>
                </div>
                <div class="cont-datos-anul">
                    <input type="text" placeholder="Ingrese Usuario" name="email">
                    <input type="password" placeholder="Ingrese Contraseña" name="password">
                </div>
                <div class="cont-btns-anul">
                    <button class="aceptar-anul" type="submit">Anular</button>
                    <button class="cancelar-anul">Cancelar</button>
                </div>
            </form>
        </div>
    </section>
    <!-- <script th:src="@{/js/general.js}"></script> -->
    <script th:src="@{/js/Estilos.js}"></script>


    <script>

        let productosAgregados = {}

        const formularioVenta = document.getElementById("formVenta")
        formularioVenta.addEventListener('submit', async function (event) {
            event.preventDefault()

            const documento = document.getElementById("documentoTipo")
            if (documento.value === "") {
                document.getElementById("mensaje").textContent = "Debe seleccionar un tipo de comprobante";
                return;
            }


            if (documento.value === "FACTURA") {
                const ruc = document.getElementById("numeroDoc").value
                if (ruc == "") {
                    document.getElementById("mensaje").textContent = "Ingrese el RUC";
                    return;
                }


                try {
                    const response = await fetch("https://apiperu.dev/api/ruc", {
                        method: "POST",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json",
                            "Authorization": `Bearer cefa320c438dd612f47210d678d31fe7f612c9475522675dd56be4fa43a02484`
                        },
                        body: JSON.stringify({ ruc: ruc })
                    });

                    const data = await response.json();

                    if (!response.ok || !data.success) {
                        document.getElementById("mensaje").textContent = "El RUC no es válido";
                        return;
                    }
                } catch (error) {
                    document.getElementById("mensaje").textContent = "Error al validar el RUC";
                    console.error("Error", error)
                    return;
                }


            }

            if (Object.keys(productosAgregados).length === 0) {
                document.getElementById("mensaje").textContent = "No se han agregado productos";
                return
            }


            formularioVenta.action = `/inventario/ventas/pago`;
            formularioVenta.submit()

        })

        const productInput = document.getElementById("productInput");
        const productList = document.getElementById("productList");
        const tabla = document.getElementById('tablaProductos');
        let index = 0;

        // Función para mostrar y filtrar la lista
        function filterProducts() {
            const query = productInput.value.toLowerCase();

            const allProducts = document.querySelectorAll("div.dropdown-list div.pro")

            allProducts.forEach(product => {
                const nombre = product.textContent.toLowerCase()
                if (nombre.includes(query)) {
                    product.onclick = () => selectProduct(product.textContent)
                    product.style.display = "block";
                } else {
                    product.style.display = "none";
                }

            });

            productList.style.display = "block";
        }

        // Función para seleccionar un producto
        function selectProduct(product) {
            productInput.value = product;
            productList.style.display = "none";
        }

        // Eventos
        productInput.addEventListener("input", filterProducts);
        document.addEventListener("click", (e) => {
            if (!productInput.contains(e.target)) {
                productList.style.display = "none";
            }
        });

        const cantidadInput = document.getElementById('canti');

        productList.addEventListener('click', function (event) {

            if (event.target.classList.contains('pro')) {
                const id = event.target.getAttribute('data-id');
                const nombre = event.target.getAttribute('data-nombre');
                const precio = parseFloat(event.target.getAttribute('data-precio'));
                const cantidad = parseInt(cantidadInput.value);


                if (productosAgregados[id]) {
                    const fila = document.getElementById(`prod-${id}`)
                    const nuevaCantidad = productosAgregados[id].cantidad + cantidad
                    const nuevoTotal = (nuevaCantidad * precio).toFixed(2)

                    fila.querySelector('.cantidad').textContent = nuevaCantidad
                    fila.querySelector('.total').textContent = nuevoTotal
                    fila.querySelector('.input-cantidad').value = nuevaCantidad

                    productosAgregados[id].cantidad = nuevaCantidad

                } else {

                    productosAgregados[id] = { cantidad: cantidad, index: index }

                    const row = document.createElement('tr');
                    row.id = `prod-${id}`;
                    row.innerHTML = `
                    <td><button type="button" onclick="eliminarProducto(${id})">X</button></td>
                    <td>${nombre}</td>
                    <td class="cantidad">${cantidad}</td>
                    <td>${precio}</td>
                    <td class="total">${(cantidad * precio).toFixed(2)}</td>
                    <input type="hidden" name="productos[${index}].id" value="${id}">
                    <input type="hidden" class="input-cantidad" name="productos[${index}].cantidad" value="${cantidad}">
                    `;
                    index++;
                    tabla.appendChild(row);
                    actualizar()
                    reindexarProductos()
                }

                productInput.value = ''
                cantidadInput.value = 1

            }
        });

        function eliminarProducto(id) {
            const fila = document.getElementById(`prod-${id}`)
            if (fila) {
                fila.remove()
                delete productosAgregados[id]
            }
            actualizar()
            reindexarProductos()
        }

        function actualizar() {
            let total = 0
            document.querySelectorAll('.total').forEach(el => {
                const valor = parseFloat(el.textContent) || 0
                total += valor
            })

            document.getElementById('total-produc').textContent = total.toFixed(2);
            document.getElementById("items").textContent = Object.keys(productosAgregados).length


        }

        const botonLimpiar = document.getElementById("clear")
        botonLimpiar.addEventListener('click', (e) => {
            e.preventDefault()
            document.getElementById("mensaje").textContent = "";
        })

        function reindexarProductos() {
            const filas = document.querySelectorAll("#tablaProductos tr")
            let nuevoIndex = 0
            productosAgregados = {};

            filas.forEach(fila => {
                const id = fila.id.split("-")[1];
                const cantidad = parseInt(fila.querySelector(".cantidad").textContent)

                fila.querySelector('[name$=".id"]').setAttribute("name", `productos[${nuevoIndex}].id`)
                fila.querySelector('[name$=".cantidad"]').setAttribute("name", `productos[${nuevoIndex}].cantidad`)

                productosAgregados[id] = {cantidad: cantidad, index: nuevoIndex}
                nuevoIndex++ 
            })

            index = nuevoIndex;
        }

    </script>
</body>

</html>