<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado pedido</title>
</head>

<body style="margin: 0; padding: 0; background-color:#f4f4f4;">
    <table align="center" cellspacing="0" cellpadding="0" border="0"
        style="text-align:center;margin:0 auto;background-color:#fff;width:600px;max-width:600px;min-width:600px;color:#000000;font-size:16px;">
        <tbody>
            <tr>
                <td valign="middle" style="padding:20px 20px;background-color:#1B2838;color:#fff">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td valign="middle"
                                    style="padding-bottom:25px;text-align:center;border-bottom:1px solid #fff; margin-bottom: 20px;">
                                    <a href="#" style="border:0;text-decoration:none" target="_blank">
                                        <img src="http://imgfz.com/i/QVXo7gr.png" alt=""
                                            style="display:flex;margin:0 auto; width: 70px;" class="CToWUd"
                                            data-bit="iit">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle">
                                    <table
                                        style="padding: 20px; margin-top: 20px; background-color: #ffffff; border-radius: 10px;"
                                        align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="http://imgfz.com/i/B6sh8Sb.png" alt=""
                                                        style="margin-right: 10px; filter: invert(13%) sepia(88%) saturate(5527%) hue-rotate(240deg) brightness(67%) contrast(84%);">
                                                </td>
                                                <td>
                                                    <table style="color: #000000; text-align: justify;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <strong>¡Hola <span id="nombre_cliente"
                                                                            th:text="${cliente?.nombre != null ? cliente.nombre : 'NULL'}">Kenneth</span>!</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    ¡Gracias por tu reciente transacción en Targus!
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td th:if="${estado == estado.PENDIENTE}">
                                                                    Te confirmamos que tu pedido <strong>N° <span
                                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                                    ha sido recibido y se encuentra en proceso de
                                                                    aprobación, el cual tomará máximo 48 horas
                                                                    calendario.
                                                                </td>
                                                                <td th:if="${estado == estado.CONFIRMADO}">
                                                                    Te confirmamos que tu pedido <strong>N° <span
                                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                                    ha sido **confirmado** y está siendo procesado. En
                                                                    un plazo máximo de 48 horas calendario, te
                                                                    notificaremos cuando esté listo para ser despachado.
                                                                </td>

                                                                <td th:if="${estado == estado.EN_CAMINO}">
                                                                    ¡Buenas noticias! Tu pedido <strong>N° <span
                                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                                    ha sido **enviado** y se encuentra **en camino**
                                                                    hacia tu dirección. Pronto estará en tus manos.
                                                                </td>

                                                                <td th:if="${estado == estado.ENTREGADO}">
                                                                    Tu pedido <strong>N° <span
                                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                                    ha sido **entregado con éxito**. ¡Gracias por
                                                                    confiar en nosotros!
                                                                </td>
                                                                <td th:if="${estado == estado.CANCELADO}">
                                                                    Te comunicamos que tu pedido <strong>N° <span
                                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                                    ha sido cancelado por <span id="motivoCan"
                                                                        th:text="${pedido.comentario}">Ya no
                                                                        querer el producto</span> te agradecemos la
                                                                    confianza y se pasara a hacer el rembolso en 48
                                                                    horas.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="background-color: #ffffff; padding: 20px 30px; border-bottom: 1px solid #1B2838;">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td valign="bottom" style="text-align:left;color:#376182;font-size:23px">
                                    <strong>¿Cuáles serán las notificaciones que recibiré hasta que reciba mi
                                        compra?</strong>
                                </td>
                                <td valign="bottom" style="width:31px;text-align:right">
                                    <img src="http://imgfz.com/i/mKiNopQ.png" alt=""
                                        style="filter: invert(13%) sepia(88%) saturate(5527%) hue-rotate(240deg) brightness(67%) contrast(84%);">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td th:switch="${estado}" valign="top"
                    style="text-align:center;padding:40px 0px 20px 0px;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3">
                    <img th:case="${estado.PENDIENTE}" src="http://imgfz.com/i/CXcWjPG.png" alt=""
                        style="width: 400px;">
                    <img th:case="${estado.CONFIRMADO}" src="http://imgfz.com/i/oOiuY6V.png" alt=""
                        style="width: 400px;">
                    <img th:case="${estado.EN_CAMINO}" src="http://imgfz.com/i/WgZm2Pz.png" alt=""
                        style="width: 400px;">
                    <img th:case="${estado.ENTREGADO}" src="http://imgfz.com/i/FrytGix.png" alt=""
                        style="width: 400px;">
                    <img th:case="${estado.CANCELADO}" src="http://imgfz.com/i/7p1tLId.jpeg" alt=""
                        style="width: 400px;">

                </td>
            </tr>

            <tr>
                <td style="background-color: #ffffff; padding: 20px 30px; border-bottom: 1px solid #1B2838;">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td valign="bottom" style="text-align:left;color:#376182;font-size:23px">
                                    <strong th:if="${estado != estado.CANCELADO}">¿Cuál es el resumen de mi
                                        compra?</strong>
                                    <strong th:if="${estado == estado.CANCELADO}">Resumen del pedido cancelado</strong>
                                </td>
                                <td valign="bottom" style="width:31px;">
                                    <img src="http://imgfz.com/i/mKiNopQ.png" alt=""
                                        style=" text-align:right;filter: invert(13%) sepia(88%) saturate(5527%) hue-rotate(240deg) brightness(67%) contrast(84%);"
                                        class="CToWUd" data-bit="iit">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td valign="middle"
                    style="padding:15px 37px;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td valign="middle" style="padding-top:20px">
                                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                                        style="border-collapse:collapse;font-size:14px;color:#000">
                                        <thead>
                                            <tr>
                                                <td valign="middle" colspan="2"
                                                    style="text-align:center;border:2px solid black;padding:10px 0px">
                                                    <strong>RESUMEN DE PEDIDO</strong>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td valign="middle"
                                                    style="text-align:left;border-left:2px solid black;padding:20px 25px 5px 25px;line-height:1.4;">
                                                    # Pedido: <br>
                                                    <strong><span id="num_pedido"
                                                            th:text="${pedido?.idPedido != null ? pedido.idPedido : 'NULL'}">134384603-51</span></strong>
                                                </td>
                                                <td valign="middle"
                                                    style="text-align:left;border-right:2px solid black;border-left:2px solid black;padding:20px 25px 5px 25px;line-height:1.4">
                                                    Fecha de pedido: <br>
                                                    <strong><span id="fecha_pedido"
                                                            th:text="${pedido?.fechaPedido != null ? pedido.fechaPedido : 'NULL'}">22/06/2025</span></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="middle"
                                                    style="text-align:left;border-left:2px solid black;border-bottom:2px solid black;padding:5px 25px 20px 25px;line-height:1.4">
                                                    Titular: <br>
                                                    <strong> <span id="nombre_cliente"
                                                            th:text="${cliente?.nombre != null ? cliente.nombre : 'NULL'}">Kenneth
                                                            Garrido</span></strong>
                                                </td>
                                                <td valign="middle"
                                                    style="text-align:left;border-right:2px solid black;border-left:2px solid black;border-bottom:2px solid black;padding:5px 25px 20px 25px;line-height:1.4">
                                                    Documento de identidad: <br>
                                                    <strong>DNI <span id="documentoIdentidad"
                                                            th:text="${cliente?.dni != null ? cliente.dni : 'NULL'}">87654321</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td valign="middle" style="padding-top:20px">
                                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="middle">
                                                    <img src="http://imgfz.com/i/UfsLo6l.png" alt="" width="100%"
                                                        style="display:flex" class="CToWUd" data-bit="iit">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="middle" style="padding-top:15px">
                                                    <div
                                                        style="max-height:400px;overflow:hidden auto;border:1px solid #000;border-radius:10px">
                                                        <table align="center" cellspacing="0" cellpadding="10px"
                                                            border="0" width="100%" style="font-size:15px">
                                                            <thead>
                                                                <tr style="background-color:#000;color:#fff">
                                                                    <th valign="middle"
                                                                        style="text-align:center;font-size:14px;padding:12px 10px"
                                                                        colspan="2">
                                                                        <strong>PRODUCTOS</strong>
                                                                    </th>
                                                                    <th valign="middle"
                                                                        style="text-align:center;font-size:14px;padding:12px 10px">
                                                                        <strong style="text-align: center;">FECHA
                                                                            ENTREGA
                                                                            APROX.</strong>
                                                                    </th>
                                                                    <th valign="middle"
                                                                        style="text-align:center;font-size:14px;padding:12px 10px">
                                                                        <strong>CANTIDAD</strong>
                                                                    </th>
                                                                    <th valign="middle"
                                                                        style="text-align:center;font-size:14px;padding:12px 10px">
                                                                        <strong>PRECIO</strong>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr th:each="detalle : ${pedido.detallePedidos}">
                                                                    <td valign="middle"
                                                                        style="padding:10px 10px;text-align:left;line-height:18px"
                                                                        colspan="2">
                                                                        <span id="nom_producto"
                                                                            th:text="${detalle.producto.nombre}">Laptop
                                                                            Lenovo ThinkPad
                                                                            X1</span>
                                                                    </td>
                                                                    <td valign="middle"
                                                                        th:style="${estado == estado.CANCELADO} ? 'text-decoration:line-through;' : 'width:130px;padding:10px 10px;text-align:center'">
                                                                        <span id="fecha_entrega"
                                                                            th:text="${pedido.fechaEntrega}">2025-06-29</span>
                                                                    </td>
                                                                    <td valign="middle"
                                                                        style="width:10px;padding:10px 10px;text-align:center">
                                                                        <span id="cant_produc"
                                                                            th:text="${detalle.cantidad}">1</span>
                                                                    </td>
                                                                    <td valign="middle"
                                                                        style="width:50px;padding:10px 10px;text-align:right;white-space:nowrap!important">
                                                                        S/.<span id="precio_uni"
                                                                            th:text="${detalle.producto.precioVenta}"
                                                                            th:style="${estado == estado.CANCELADO} ? 'text-decoration:line-through;' : ''">4500</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="middle" style="padding-top:30px;padding-bottom:5px">
                                                    <table align="center" cellspacing="0" cellpadding="0" border="0"
                                                        width="100%" style="font-size:14px">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" style="width:298px">
                                                                    <table align="center" cellspacing="0"
                                                                        cellpadding="0" border="0" width="100%"
                                                                        background="http://imgfz.com/i/NgVHcAT.png">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="middle"
                                                                                    style="width:55px;text-align:right">
                                                                                    <img src="http://imgfz.com/i/bdYswt8.png"
                                                                                        alt=""
                                                                                        style="width:100%;max-width:37.4px; filter: invert(13%) sepia(88%) saturate(5527%) hue-rotate(240deg) brightness(67%) contrast(84%);"
                                                                                        class="CToWUd" data-bit="iit">
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="text-align:left;padding:10px 15px;font-size:17px">
                                                                                    Dirección de entrega:<br>
                                                                                    <strong>
                                                                                        <span id="direccion">La Venta
                                                                                            <span
                                                                                                th:text="${cliente?.direccion?.calle != null ? cliente.direccion.calle : 'NULL'}">
                                                                                                Baja Mz J 1
                                                                                            </span>
                                                                                            <span
                                                                                                th:text="${cliente?.direccion?.departamento != null ? cliente.direccion.departamento : 'NULL'}">ICA</span>
                                                                                            -
                                                                                            <span
                                                                                                th:text="${cliente?.direccion?.distrito != null ? cliente.direccion.distrito : 'NULL'}">ICA</span>
                                                                                        </span>

                                                                                    </strong>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    <table align="center" cellspacing="0"
                                                                        cellpadding="0" border="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="middle"
                                                                                    style="text-align:left;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong>Sub-Total:</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:10px;text-align:center;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong>S/</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:50px;text-align:right;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong><span id="sub-total"
                                                                                            th:text="${(pedido.total ?: 0) - (costoEnvio ?: 0)}"
                                                                                            th:style="${estado == estado.CANCELADO} ? 'text-decoration:line-through;' : ''">4500</span></strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="middle"
                                                                                    style="text-align:left;padding:5px 10px;white-space:nowrap!important">
                                                                                    <strong>Costo de envío:</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:10px;text-align:center;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong>S/</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:50px;text-align:right;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong><span id="costo-envio"
                                                                                            th:text="${(costoEnvio ?: 0)}"
                                                                                            th:style="${estado == estado.CANCELADO} ? 'text-decoration:line-through;' : ''">10</span></strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#376182;color:#fff">
                                                                                <td valign="middle"
                                                                                    style="text-align:left;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong>Total:</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:10px;text-align:center;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong>S/</strong>
                                                                                </td>
                                                                                <td valign="middle"
                                                                                    style="width:50px;text-align:right;padding:7px 10px;white-space:nowrap!important">
                                                                                    <strong><span id="total-pedido"
                                                                                            th:text="${(pedido.total ?: 0)}"
                                                                                            th:style="${estado == estado.CANCELADO} ? 'text-decoration:line-through;' : ''">4510</span></strong>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="background-color:#000000;color:#fff;padding:17px 40px">
                        <tbody>
                            <tr>
                                <td valign="middle" style="width:230px">
                                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="middle"
                                                    style="text-align:center;font-size:16.4px;letter-spacing:1.64px">
                                                    <strong>COMPRA ONLINE</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" style="padding-top:6px;text-align:center">
                                                    <a href="#" style="border:0;text-decoration:none" target="_blank">
                                                        <img src="http://imgfz.com/i/QVXo7gr.png" alt=""
                                                            style="display:flex;margin:0 auto; width: 70px;"
                                                            class="CToWUd" data-bit="iit">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="middle">
                                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="middle"
                                                    style="text-align:right;padding-right:10px;font-size:19px">
                                                    Síguenos en:
                                                </td>
                                                <td valign="middle" style="text-align:center;width:45px">
                                                    <a href="" style="border:0;text-decoration:none" target="_blank"
                                                        data-saferedirecturl="">
                                                        <img src="http://imgfz.com/i/Cjg6ZRH.png" alt=""
                                                            style="display:flex;margin:0 auto" class="CToWUd"
                                                            data-bit="iit">
                                                    </a>
                                                </td>
                                                <td valign="middle" style="text-align:center;width:45px">
                                                    <a href="" style="border:0;text-decoration:none" target="_blank"
                                                        data-saferedirecturl="">
                                                        <img src="http://imgfz.com/i/DaE7sw6.png" alt=""
                                                            style="display:flex;margin:0 auto" class="CToWUd"
                                                            data-bit="iit">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>