<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesión</title>
        <link rel="icon" th:href="@{/images/logo.png}">
        <link rel="stylesheet" th:href="@{/css/iniciar_crear.css}">
    </head>
    <body>
        <div class="dos_columnas">
            <div class="imagen">

            </div>
            <div class="iniciar">
                <div class="opciones">
                    <header class="titulo">
                        <h1>Iniciar sesión</h1>
                    </header>
                    <form class="contenido" th:action="@{/inventario/principal/login}" method="post">
                        <div class="campos">
                            <div class="campos">
                                <label for="email">Código de empleado</label>
                                <br>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="mensaje_error">*Campo obligatorio</div>
                            <div class="campos">
                                <label for="contraseña">Contraseña</label>
                                <br>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div class="mensaje_error">*Campo obligatorio</div>
                        </div>  
                            <input type="submit" value="Enviar" >                            
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>