<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelto - Targus</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-vuelto.css}">
</head>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <main class="contenedor_main" style="left: 0; margin: auto;">
        <div class="contenedor-vuelto">
            <div class="vuelto-monto">
                <div class="vueltito" th:if="${vuelto != null}">
                    <p>VUELTO: S/. <span id="vuelto" th:text="${vuelto}">00.70</span></p>
                </div>
                <div id="btn-back" class="cont-btn-volver"><button class="btn-volver">Nueva Venta</button></div>
                <script>
                    btnVolver = document.getElementById("btn-back")
                    btnVolver.addEventListener('click', function (event) {
                        event.preventDefault()
                        localStorage.removeItem("productosAgregados")
                        window.location.href = "/inventario/ventas/agregarVenta"
                    })
                </script>
            </div>
            <div class="cont-error-cuerpo">
                <div class="cuerpo-vuelto">
                    <div class="head-vuelto">
                        <p>MEDIO DE PAGO</p>
                        <p>VALOR</p>
                    </div>
                    <div class="body-vuelto">
                        <div class="todo-vuelto">
                            <p>EFECTIVO</p>
                            <p>S/.</p>
                            <p th:text="${efectivo}">1000.30</p>
                        </div>
                    </div>
                </div>
                <div class="cont-error-pagar">
                    <div class="cont-error">
                        <div class="error-mostrado">Error</div>
                        <div class="cont-btn-limpiar"><button class="btn-limpiar">Limpiar</button></div>
                    </div>
                    <button class="btn-total-Pagar"
                        th:onclick="'window.location.href=\'/inventario/comprobante/' + ${id} + '\';'">Pagar e <br>
                        imprimir</button>
                </div>
            </div>

            <div class="foot-infoex">
                <p>Fecha: <span id="fecha"></span></p>
                <p>Hora: <span id="hora"></span></p>
                <p>Nro. de transaccion: <span id="transac"></span></p>
                <script>
                    document.getElementById("transac").textContent = localStorage.getItem("transac") ?? "0007"
                </script>
                <script th:src="@{/js/horafecha.js}"></script>
            </div>
        </div>

    </main>

</body>

</html>