<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="contenedor__navbar">
        <div class="accesoUser">
            <ul>
                <li><i class="fa-solid fa-gauge"></i><a th:href="@{/inventario/principal/index}">Inicio</a></li>
                <li><i class="fa-solid fa-cart-shopping"></i><a th:href="@{/inventario/ventas/ventas}">Venta nueva</a></li>
                <!-- th:if="${empleado != null && empleado.usuario.rol.nombre == 'Administrador'}" -->
                <li><i class="fa-solid fa-basket-shopping"></i><a th:href="@{/inventario/pedido/pedidos}">Pedidos</a></li>
            </ul>
        </div>
        <!-- Para restringir el acceso al empleado -->
        <!-- th:if="${empleado != null && empleado.usuario.rol.nombre == 'Administrador'}" -->
        <div class="accesoAdmin">
            <p>Mantenimiento: </p>
            <ul>
                <li><i class="fa-solid fa-truck-field-un"></i><a th:href="@{/inventario/proveedores/}">Proveedores</a></li>
                <li><i class="fa-solid fa-layer-group"></i><a th:href="@{/inventario/categoria/}">Categorias</a></li>
                <li><i class="fa-brands fa-product-hunt"></i><a th:href="@{/inventario/productos/}">Productos</a></li>
                <li><i class="fa-solid fa-users"></i><a th:href="@{/inventario/usuarios/}">Usuario</a></li>
                <li><i class="fa-solid fa-signal"></i><a th:href="@{/inventario/ecommerce/pedidos}">Pedidos Ecommerce</a></li>
                <li><i class="fa-solid fa-chart-pie"></i><a th:href="@{/inventario/reportes/ventas}">Reportes Ventas</a></li>
                <li><i class="fa-solid fa-chart-pie"></i><a th:href="@{/inventario/reportes/productos}">Reportes Productos</a></li>

            </ul>
        </div>
    </div>
    <div class="cerrar-sesion">
        <div><i class="fa-solid fa-right-from-bracket"></i><a th:href="@{/inventario/principal/cerrarEmpleado}">Cerrar Sesion</a></div>
    </div>
</body>

</html>