<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espera-pago</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-esperaTB.css}">
</head>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <main class="contenedor_main">
        <div class="contenedor-espera">
            <div class="cont-total-volver">
                <div class="medioPago-total">
                    <div class="div-mediopago">
                        <p id="tipo-de-pago">TARJETA BANCARIA</p>
                    </div>
                    <div class="total-monto">
                        <p>Soles: </p>
                        <p id="monto-total">1001.00</p>
                    </div>
                </div>
                <div class="cont-btn-volver">
                    <button class="btn-volver">Volver</button>
                </div>
            </div>
            <div class="contenedor-selecProduc">
                <div class="contproduc-vendidos-Mpago">
                    <div class="produc-Avender">
                        <div class="head-medioPago">
                            <p>MEDIOS DE PAGO</p>
                            <p>VALOR</p>
                        </div>
                        <div class="productos-T">
                            <div class="only-producto">
                                <div class="cod-producto">
                                    <p id="codigo-product">#92392384983248</p>
                                </div>
                                <div class="descrip-producto">
                                    <p id="product-nombre">MOUSE LOGITECh</p>
                                </div>
                                <div class="cant-precio-total">
                                    <p><span id="cantidad">4 &nbsp &nbsp</span>X &nbsp &nbsp<span>S/.</span><span
                                            id="precio"> 200</span></p>
                                    <p><span>S/.</span><span id="total-produc"> 800</span></p>
                                </div>
                            </div>
                            <div class="only-producto">
                                <div class="cod-producto">
                                    <p id="codigo-product">#92392384983248</p>
                                </div>
                                <div class="descrip-producto">
                                    <p id="product-nombre">MOUSE LOGITECh</p>
                                </div>
                                <div class="cant-precio-total">
                                    <p><span id="cantidad">4 &nbsp &nbsp</span>X &nbsp &nbsp<span>S/.</span><span
                                            id="precio"> 200</span></p>
                                    <p><span>S/.</span><span id="total-produc"> 800</span></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="img-tarjetaB">
                        <img th:src="@{/images/metodoTarjeta.jpg}" alt="">
                    </div>
                </div>
                <div class="cont-error-pagar">
                    <div class="cont-error">
                        <div class="error-mostrado">Error</div>
                        <button class="btn-limpiar">Limpiar</button>
                    </div>
                    <button onclick="window.location.href='MostrarVuelto.html'" class="btn-continuar">Continuar <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>
            <div class="foot-infoex">
                <p>Fecha: <span id="fecha"></span></p>
                <p>Hora: <span id="hora"></span></p>
                <p>Nro. de transaccion: <span id="transac">0007</span></p>
                <script th:src="@{/js/horafecha.js}"></script>
            </div>
        </div>
    </main>
    <script th:src="@{/js/general.js}"></script>
    <script th:src="@{/js/notificaciones.js}"></script>
</body>

</html>