<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos | Multiservicios Leo</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/style-modal.css}">
    <link rel="stylesheet" th:href="@{/css/ventana-modal.css}">
    <link rel="stylesheet" href="/css/style-modal-delete.css">
</head>
<style>
    #table,
    #table tr th,
    #table tr td {
        border: 1px solid rgba(173, 173, 173, 0.467);
    }
</style>

<body>
    <header class="header" th:insert="header.html"></header>
    <nav class="navbar" th:insert="navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">

            <div class="container_modal--delete">
                <div class="ventana_modal--delete ventana-close-delete">
                    <div class="confir-delete">
                        <p>Confirmacion</p>
                    </div>
                    <div class="cont-pregunt-delete">
                        <p>¿Deseas eliminar este pedido permanentamente?</p>
                    </div>
                    <div class="btns-delete">
                        <div>
                            <button id="delete-btn" class="button-confir">Continuar</button>
                            <button class="button-cancelar">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <form th:action="@{/eliminarPedido}" id="eliminar_p" style="display: none;" method="post">
                <input type="text" id="id_eliminar" name="id_eliminar" required>
                <input type="submit">
            </form>

            <form th:action="@{/verPedido}" id="ver_p" style="display: none;" method="post">
                <input type="text" id="id_detalle" name="id_detalle" required>
                <input type="submit">
            </form>


            <div class="title__add--modal">
                <p>Ordenes de Pedidos</p>
                <button class="addition" onclick="window.location.href='/agregarPedido'">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nuevo Pedido</p>
                </button>
            </div>
            <div class="Cont__buscar">
                <div class="buscar_search">
                    <label for="">Buscar :</label>
                    <input type="text" id="productInput">
                </div>
            </div>
            <div class="cont_table">
                <div class="table__product">
                    <table id="table" class="table">
                        <tr class="thead">
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Proveedor</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Accion</th>
                        </tr>
                        <tr id="productList" th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.idPedido}">1</td>
                            <td th:each="usuario : ${usuarios}" th:if="${usuario.idUsuario == pedido.idUsuario}"
                                th:text="${usuario.nombre}">Ica</td>
                            <td th:each="proveedor : ${proveedores}"
                                th:if="${proveedor.idProveedor == pedido.idProveedor}" th:text="${proveedor.nombre}">
                                999999999</td>
                            <td th:text="${pedido.fecha}">example@gmail.com</td>
                            <td th:text="${pedido.total}">example@gmail.com</td>
                            <td>
                                <div class="container_action">
                                    <label type="checkbox" class="action_checkbox">
                                        <label class="name_action">Accion <i class="fa-solid fa-caret-down"
                                                id="vuelta"></i></label>
                                        <div class="cont_opciones">
                                            <button class="editproduc">Editar <i
                                                    class="fa-solid fa-pen-to-square"></i></button>
                                            <button class="deleteProduc">Eliminar <i
                                                    class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                </div>
                            </td>
                        </tr>

                        <script>

                            const boton2 = document.querySelectorAll(".editproduc");
                            boton2.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    // Encontramos la fila asociada al botón
                                    const fila = this.closest('tr');

                                    // Recogemos los valores de las celdas de la fila
                                    const valores = Array.from(fila.querySelectorAll('td')).map(td => td.textContent);

                                    // Mostramos los valores recogidos
                                    document.getElementById("id_detalle").value = valores[0];

                                    document.getElementById('ver_p').submit();

                                });
                            });

                            const boton3 = document.querySelectorAll(".deleteProduc");
                            boton3.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    // Encontramos la fila asociada al botón
                                    const fila = this.closest('tr');

                                    // Recogemos los valores de las celdas de la fila
                                    const valores = Array.from(fila.querySelectorAll('td')).map(td => td.textContent);
                                    console.log(valores[0]);
                                    // Mostramos los valores recogidos
                                    document.getElementById("id_eliminar").value = valores[0];
                                    modalContDele.style.opacity = "1";
                                    modalContDele.style.visibility = "visible";
                                    VentDelete.classList.toggle("ventana-close-delete");
                                });
                            });

                            const boton4 = document.querySelectorAll(".button-confir");
                            boton4.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    document.getElementById('eliminar_p').submit();
                                });
                            });
                        </script>

                    </table>
                </div>
            </div>
        </div>
    </main>
    <script>
        let abrirOpciones = document.querySelectorAll(".action_checkbox");
        document.querySelectorAll(".container_action").forEach(actionContainer => {
            const label = actionContainer.querySelector(".action_checkbox");
            const optionsContainer = actionContainer.querySelector(".cont_opciones");

            // Toggle display for options container on label click
            label.addEventListener("click", () => {
                const isVisible = optionsContainer.style.display === "flex";
                // Hide any other open options
                document.querySelectorAll(".cont_opciones").forEach(container => {
                    container.style.display = "none";
                });
                // Toggle current options container
                optionsContainer.style.display = isVisible ? "none" : "flex";
            });
        });
    </script>
    <script>
        const productInput = document.getElementById("productInput");
        const tableRows = document.querySelectorAll("#productList");

        function filterProducts() {
            const query = productInput.value.toLowerCase();

            tableRows.forEach(row => {
                // Filtrar basándonos en las celdas relevantes (e.g., nombre del producto)
                const productId = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                const productUsuario = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                const productProveedor = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                const productFecha = row.querySelector("td:nth-child(4)").textContent.toLowerCase();
                const productTotal = row.querySelector("td:nth-child(5)").textContent.toLowerCase();

                if (productId.includes(query) || productUsuario.includes(query) || productProveedor.includes(query) || productFecha.includes(query) || productTotal.includes(query)) {
                    row.style.display = ""; // Mostrar fila
                } else {
                    row.style.display = "none"; // Ocultar fila
                }

            });
        }

        // Asociar la función al evento de entrada
        productInput.addEventListener("input", filterProducts);
    </script>
    <script th:src="@{/js/modalDelete.js}"></script>

</body>

</html>