<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Ecommerce | Targus</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal.css}">
    <link rel="stylesheet" th:href="@{/css/ventana-modal.css}">
</head>
<style>
    #estadoC {
        border-radius: 10px;
        padding: 2px;
    }

    #estad-produc {
        cursor: pointer;
    }
</style>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Pedidos del Ecommerce</p>
            </div>
            <div class="Cont__buscar">
                <div class="buscar_search">
                    <label for="">Buscar :</label>
                    <input type="text">
                </div>
            </div>
            <div class="cont_table">
                <div class="table__product">
                    <table id="table" class="table">
                        <tr class="thead">
                            <th>ID</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha entrega estimada</th>
                            <th>Cliente</th>
                            <th>Monto Total</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.idPedido}">1</td>
                            <td th:text="${pedido.fechaPedido}">20/10/2024</td>
                            <td th:text="${pedido.fechaEntrega}">14/06/2025</td>
                            <td th:text="${pedido.user.username}">El chivito</td>
                            <td th:text="${pedido.total}"></td>
                            <td>
                                <p id="estadoC" th:text="${pedido.estado}" th:classappend="${pedido.estado}">Recibido
                                </p>
                            </td>
                            <td>
                                <div class="container_action">
                                    <input id="open_action" type="checkbox" class="action_checkbox">
                                    <label class="name_action" for="open_action">Accion <i
                                            class="fa-solid fa-caret-down" id="vuelta"></i></label>
                                    <div class="cont_opciones">
                                        <button class="editproduc">Ver detalle <i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div class="container-modal--edit">
        <div class="ventana_modal--edit ventana-close-edit">
            <div class="form__name--add">
                <p><i style="color: #000;" class="fa-solid fa-pen-to-square"></i> Detalle del pedido</p>
            </div>
            <form class="form_modal" action="" id="formEditar">
                <div class="input__box">
                    <label for="">Fecha de Creacion</label><br>
                    <input disabled id="fechaCreacion" type="text">
                </div>
                <div class="input__box">
                    <label for="">Fecha de entrega estimida</label><br>
                    <input disabled type="text" id="FechaEntrega"></input>
                </div>
                <div class="input__box">
                    <label for="">Cliente</label><br>
                    <input disabled id="cliente"></input>
                </div>
                <div class="input__box">
                    <label for="">Productos</label><br>
                    <table class="tabla_detalle_p">
                        <tr>
                            <th>Producto</th>
                            <th>Cant.</th>
                            <th>Precio U.</th>
                            <th>Subtotal</th>
                        </tr>
                        <tr>
                            <td>Laptop</td>
                            <td>2</td>
                            <td>4500</td>
                            <td>9000</td>
                        </tr>
                    </table>
                </div>
                <style>
                    .tabla_detalle_p {
                        width: 100%;
                        border: 1px solid #a5a5a5;
                        border-radius: 6px;
                        border-collapse: collapse;
                    }

                    .tabla_detalle_p th {
                        padding: 10px 0;
                        background-color: #a2a2a2;
                    }

                    .tabla_detalle_p td,
                    .tabla_detalle_p th {
                        text-align: center;
                        padding: 10px 0;
                    }
                </style>
                <div class="input__box">
                    <label for="">Total</label><br>
                    <input type="text" disabled id="total_pedido">
                </div>
                <div class="input__box">
                    <label for="">Estado</label><br>
                    <select name="" id="estad-pedido-produc" onchange="campoMotivo()">
                        <option value="CONFIRMADO">Confirmado</option>
                        <option value="EN CAMINO">En camino</option>
                        <option value="ENTREGADO">Entregado</option>
                        <option value="CANCELADO">Cancelado</option>
                    </select>
                </div>
                <div id="conte_motivo_cacel" style="display: none;"></div>
                <div class="button__modal">
                    <div class="btn-modal">
                        <input id="guardar-produc" type="submit" class="btn-guardar btn-edit" value="Guardar">
                        <input class="btn-cancelar btn-cancelar-edit" type="reset" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        //PARA EL EDIT
        let cerrarEdit = document.querySelectorAll(".btn-cancelar-edit")[0];
        let abrirEdit = document.querySelectorAll(".editproduc")[0];
        let VentEdit = document.querySelectorAll(".ventana_modal--edit")[0];
        let modalContEdit = document.querySelectorAll(".container-modal--edit")[0];

        abrirEdit.addEventListener("click", function (e) {
            e.preventDefault();
            modalContEdit.style.opacity = "1";
            modalContEdit.style.visibility = "visible";
            VentEdit.classList.toggle("ventana-close-edit");
        });

        cerrarEdit.addEventListener("click", function (e) {
            VentEdit.classList.toggle("ventana-close-edit");
            setTimeout(function () {
                modalContEdit.style.opacity = "0";
                modalContEdit.style.visibility = "hidden";
            }, 600);
        });

        window.addEventListener("click", function (e) {
            console.log(e.target);
            if (e.target == modalContEdit) {
                VentEdit.classList.toggle("ventana-close-edit");
                setTimeout(function () {
                    modalContEdit.style.opacity = "0";
                    modalContEdit.style.visibility = "hidden";
                }, 600);
            }
        });

        function campoMotivo() {
            const estadoP = document.getElementById("estad-pedido-produc").value;
            const motivoP = document.getElementById("conte_motivo_cacel");

            motivoP.innerHTML = '';
            motivoP.style.display = 'none';

            switch (estadoP) {
                case "CANCELADO":
                    motivoP.style.display = 'block';
                    motivoP.innerHTML = `
                    <div class="input__box">
                        <label for="">Motivo de cancelacion</label><br>
                        <input type="text" disabled id="motivo_cancel" name="motivoCanelado">
                    </div>
                    `
                    break;
            }

            const mot = document.getElementById("motivo_cancel");
            mot.disabled = false;
        }
    </script>
</body>

</html>