<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Ecommerce | Targus</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal.css}">
    <link rel="stylesheet" th:href="@{/css/ventana-modal.css}">
</head>
<style>
    #estadoC {
        border-radius: 10px;
        padding: 2px;
    }

    #estad-produc {
        cursor: pointer;
    }
</style>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Pedidos del Ecommerce</p>
            </div>
            <div class="Cont__buscar">
                <div class="buscar_search">
                    <label for="">Buscar :</label>
                    <input type="text">
                </div>
            </div>
            <div class="cont_table">
                <div class="table__product">
                    <table id="table" class="table">
                        <tr class="thead">
                            <th>ID</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha entrega estimada</th>
                            <th>Cliente</th>
                            <th>Monto Total</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.idPedido}">1</td>
                            <td th:text="${pedido.fechaPedido}">20/10/2024</td>
                            <td th:text="${pedido.fechaEntrega}">14/06/2025</td>
                            <td th:text="${pedido.user.username}">El chivito</td>
                            <td th:text="${pedido.total}"></td>
                            <td>
                                <p id="estadoC" th:text="${pedido.estado}" th:classappend="${pedido.estado}">Recibido
                                </p>
                            </td>
                            <td>
                                <div class="container_action">
                                    <label type="checkbox" class="action_checkbox">
                                        <label class="name_action" for="open_action">Accion <i
                                                class="fa-solid fa-caret-down" id="vuelta"></i></label>
                                        <div class="cont_opciones">
                                            <button class="editproduc">Ver Detalle <i
                                                    class="fa-solid fa-pen-to-square"></i></button>

                                        </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div class="container-modal--edit">
        <div class="ventana_modal--edit ventana-close-edit">
            <div class="form__name--add">
                <p><i style="color: #000;" class="fa-solid fa-pen-to-square"></i> Detalle del pedido</p>
            </div>
            <form class="form_modal" method="post" id="formEditar">

            </form>
        </div>
    </div>

    <script>
        let modalContEdit = document.querySelector(".container-modal--edit");
        let VentEdit = document.querySelector(".ventana_modal--edit");

        let abrirOpciones = document.querySelectorAll(".action_checkbox");
        document.querySelectorAll(".container_action").forEach(actionContainer => {
            const label = actionContainer.querySelector(".action_checkbox");
            const optionsContainer = actionContainer.querySelector(".cont_opciones");

            label.addEventListener("click", () => {
                const isVisible = optionsContainer.style.display === "flex";

                document.querySelectorAll(".cont_opciones").forEach(container => {
                    container.style.display = "none";
                });

                optionsContainer.style.display = isVisible ? "none" : "flex";
            });
        });
    </script>



    <script>
        const boton2 = document.querySelectorAll('.editproduc')
        boton2.forEach(boton => {
            boton.addEventListener('click', async function () {
                const fila = this.closest('tr')
                const celdas = fila.querySelectorAll('td')
                const idPedido = celdas[0].textContent.trim()

                fetch(`http://localhost:8080/api/order/user/${idPedido}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error al obtener el detalle del pedido")
                        }
                        return response.json()
                    })
                    .then(detalle => {
                        modalContEdit.style.opacity = "1";
                        modalContEdit.style.visibility = "visible";
                        VentEdit.classList.remove("ventana-close-edit");

                        const form = document.getElementById("formEditar")

                        form.innerHTML =
                            `
                    <div class="input__box">
                    <label for="">Fecha de Creacion</label><br>
                    <input disabled id="fechaCreacion" type="text" value="${detalle.fechaPedido}">
                </div>
                <div class="input__box">
                    <label for="">Fecha de entrega estimida</label><br>
                    <input disabled type="text" id="FechaEntrega" value="${detalle.fechaEntrega}"></input>
                </div>
                <div class="input__box">
                    <label for="">Cliente</label><br>
                    <input disabled id="cliente" value="${detalle.user.username}"></input>
                </div>
                <div class="input__box">
                    <label for="">Productos</label><br>
                    <table class="tabla_detalle_p">
                        <tr>
                            <th>Producto</th>
                            <th>Cant.</th>
                            <th>Precio U.</th>
                            <th>Subtotal</th>
                        </tr>
                    ${detalle.detallePedidos.map(element =>
                                `
                        <tr>
                            <td>${element.producto.nombre}</td>
                            <td>${element.cantidad}</td>
                            <td>${element.producto.precioVenta}</td>
                            <td>${element.subtotal}</td>
                        </tr>
                        `
                            ).join("")}
                    </table>
                </div>
                <style>
                    .tabla_detalle_p {
                        width: 100%;
                        border: 1px solid #a5a5a5;
                        border-radius: 6px;
                        border-collapse: collapse;
                    }

                    .tabla_detalle_p th {
                        padding: 10px 0;
                        background-color: #a2a2a2;
                    }

                    .tabla_detalle_p td,
                    .tabla_detalle_p th {
                        text-align: center;
                        padding: 10px 0;
                    }
                </style>
                <div class="input__box">
                    <label for="">Total</label><br>
                    <input type="text" disabled id="total_pedido" value="${detalle.total}">
                </div>
                <div class="input__box">
                    <label for="">Estado</label><br>
                    <select name="estado" id="estado_act" onchange="campoMotivo()">
                        <option id="pendienteEst" value="PENDIENTE">PENDIENTE</option>
                        <option id="confirmadoEst" value="CONFIRMADO">CONFIRMADO</option>
                        <option id="enCaminoEst" value="EN_CAMINO">EN CAMINO</option>
                        <option id="entregadoEst" value="ENTREGADO">ENTREGADO</option>
                        <option id="canceladoEst" value="CANCELADO">CANCELADO</option>
                    </select>
                </div>
                <div id="conte_motivo_cacel" style="display: none;"></div>
                <div class="button__modal">
                    <div class="btn-modal">
                        <input id="guardar_estado_pp" type="submit" class="btn-guardar btn-edit" value="Guardar">
                        <input class="btn-cancelar btn-cancelar-edit" type="reset" value="Cancelar">
                    </div>
                </div>
                    `
                        detaEs = detalle.estado;
                        document.getElementById('estado_act').value = detaEs
                        const motivoP = document.getElementById("conte_motivo_cacel");

                        switch (detaEs) {
                            case "CANCELADO":
                                motivoP.style.display = 'block';
                                motivoP.innerHTML = `
                        <div class="input__box">
                            <label for="">Motivo de cancelacion</label><br>
                            <input type="text" disabled id="motivo_cancel_mostrar" name="motivoCancelado" value="${detalle.comentario}">
                        </div>
                        `
                                document.getElementById("estado_act").disabled = true;
                                document.getElementById("guardar_estado_pp").style.display = "none"
                                break;
                            case "ENTREGADO":
                                document.getElementById("estado_act").disabled = true;
                                document.getElementById("guardar_estado_pp").style.display = "none"
                                break;
                            case "CONFIRMADO":
                                document.getElementById("pendienteEst").disabled = true;
                                break;
                            case "EN_CAMINO":
                                document.getElementById("pendienteEst").disabled = true;
                                document.getElementById("confirmadoEst").disabled = true;
                                break;
                        }


                        form.action = `/inventario/ecommerce/actualizar/${idPedido}`;


                        let cerrarEdit = document.querySelector(".btn-cancelar-edit");
                        cerrarEdit.addEventListener("click", function (e) {
                            VentEdit.classList.toggle("ventana-close-edit");
                            setTimeout(function () {
                                modalContEdit.style.opacity = "0";
                                modalContEdit.style.visibility = "hidden";
                            }, 600);
                        });

                    });

            });
        });


    </script>

    <script>

        function campoMotivo() {
            const estadoP = document.getElementById("estado_act").value;
            const motivoP = document.getElementById("conte_motivo_cacel");

            motivoP.innerHTML = '';
            motivoP.style.display = 'none';

            switch (estadoP) {
                case "CANCELADO":
                    motivoP.style.display = 'block';
                    motivoP.innerHTML = `
                    <div class="input__box">
                        <label for="">Motivo de cancelacion</label><br>
                        <input type="text" disabled id="motivo_cancel" name="motivoCancelado" required>
                    </div>
                    `
                    break;
            }

            const mot = document.getElementById("motivo_cancel");
            mot.disabled = false;
        }
    </script>



</body>


</html>