<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Targus</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/ventana-modal.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal-delete.css}">
</head>
<style>
    .category-fields {
        display: none;
        margin-top: 10px;
    }
</style>

<body>

    <div class="modal__container--add">
        <div class="ventana__modal ventana-close">
            <div class="form__name--add">
                <p><i class="fa-solid fa-plus"></i> Agregar Productos</p>
            </div>
            <form id="formulario_produc" class="form_modal" th:action="@{/inventario/productos/agregar_prod}"
                method="post">
                <div class="input__box">
                    <label for="">Nombre</label><br>
                    <input type="text" name="nombre">
                </div>
                <div class="input__box">
                    <label for="">Descripcion</label><br>
                    <textarea name="descripcion"></textarea>
                </div>
                <div class="input__box">
                    <label for="">Categoria</label><br>
                    <select name="nombre_categoria" id="categoria" onchange="mostrarCamposCategoria()">
                        <option value="" disabled selected>Seleccione la categoria</option>
                        <option th:each="categoria: ${categorias}" th:value="${categoria.nombre}"
                            th:text="${categoria.nombre}"></option>
                    </select>
                </div>
                <div class="input__box">
                    <label for="">Proovedor</label><br>
                    <select id="proveedor" name="proveedor">
                        <option th:each="proveedor: ${proveedores}" th:value="${proveedor.nombre}"
                            th:text="${proveedor.nombre}"></option>
                    </select>
                </div>
                <div class="input__box">
                    <label for="">Stock</label><br>
                    <input type="number" name="stock">
                </div>
                <div class="input__box">
                    <label for="">Precio Venta</label><br>
                    <input type="text" name="precio">
                </div>
                <div class="input__box">
                    <label for="">Precio Compra</label><br>
                    <input type="text" name="precioCompra">
                </div>
                <div class="input__box">
                    <label for="">Marca</label><br>
                    <input type="text" name="marca">
                </div>
                <div class="input__box">
                    <label for="">Imagen</label><br>
                    <input type="text" name="imagen1">
                </div>
                <div class="input__box">
                    <label for="">Codigo de barras</label><br>
                    <input type="text" name="codigoBarras" id="codigo" maxlength="13" pattern="\d{13}"
                        title="El codigo debe tener exactamente 13 digitos numericos" required>
                </div>

                <!-- Campos dinámicos -->
                <div id="camposCategoria" class="category-fields"></div>

                <div class="button__modal">
                    <div class="btn-modal">
                        <input id="guardar-produc" type="submit" class="btn-guardar" value="Guardar">
                        <input class="btn-cancelar" type="reset" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container_modal--delete">
        <div class="ventana_modal--delete ventana-close-delete">
            <form method="post" id="formEliminar">
                <div class="confir-delete">
                    <p>Confirmacion</p>
                </div>
                <div class="cont-pregunt-delete">
                    <p>¿Deseas eliminar este producto permanentamente?</p>
                </div>
                <div class="btns-delete">
                    <div>
                        <button id="delete-btn" class="button-confir" type="submit">Continuar</button>
                        <button class="button-cancelar">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Lista de Productos</p>
                <button class="addition">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nuevo</p>
                </button>
            </div>
            <div class="Cont__buscar">
                <div class="buscar_search">
                    <label for="">Buscar :</label>
                    <input type="text" id="productInput">
                </div>
                <div class="cont-reportes">
                    <p>Generar reporte:</p>
                    <div class="reporte-btns">
                        <button class="btn-pdf"><i class="fa-solid fa-file-pdf"></i></button>
                        <button class="btn-excel"><i class="fa-solid fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
            <div class="cont_table">
                <div class="table__modal">
                    <table class="table">
                        <tr class="thead">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Proveedor</th>
                            <th>Precio Venta</th>
                            <th>Precio Compra</th>
                            <th>Stock</th>
                            <th>Marca</th>
                            <th>Link Imagen</th>
                            <th>Codigo de barras</th>
                            <th>Accion</th>
                        </tr>
                        <tr id="productList" th:each="producto: ${productos}">
                            <td th:text="${producto.idProducto}">1</td>
                            <td th:text="${producto.nombre}">Papas Lays</td>
                            <td th:text="${producto.descripcion}">Rico y nutritivos</td>
                            <td th:text="${producto.categoria.nombre}">Snacks</td>
                            <td th:text="${producto.proveedor.nombre}">Paperos</td>
                            <td th:text="${producto.precioVenta}">2</td>
                            <td th:text="${producto.precioCompra}">200</td>
                            <td th:text="${producto.stock}">200</td>
                            <td th:text="${producto.marca}">200</td>
                            <td th:text="${producto.imagen}"></td>
                            <td th:text="${producto.codigoBarras}"></td>
                            <th>
                                <div class="container_action">
                                    <label type="checkbox" class="action_checkbox">
                                        <label class="name_action" for="open_action">Accion <i
                                                class="fa-solid fa-caret-down" id="vuelta"></i></label>
                                        <div class="cont_opciones">
                                            <button class="editproduc">Ver Detalle <i
                                                    class="fa-solid fa-pen-to-square"></i></button>
                                            
                                        </div>
                                </div>
                            </th>


                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="container-modal--edit">
            <div class="ventana_modal--edit ventana-close-edit">
                <div class="form__name--add">
                    <p><i style="color: #000;" class="fa-solid fa-pen-to-square"></i> Editar Producto</p>
                </div>
                <form class="form_modal" method="post" id="formEditar">
                    <div class="input__box">
                        <label for="">Nombre</label><br>
                        <input id="nombre_act" type="text" name="nombre" required>
                    </div>
                    <div class="input__box">
                        <label for="">Descripcion</label><br>
                        <textarea id="descripcion_act" name="descripcion"></textarea>
                    </div>
                    <div class="input__box">
                        <label for="">Categoria</label><br>
                        <select id="categoria_act" name="nombre_categoria">
                            <option th:each="categoria: ${categorias}" th:text="${categoria.nombre}"></option>
                        </select>
                    </div>
                    <div class="input__box">
                        <label for="">Proovedor</label><br>
                        <select id="proveedor_act" name="proveedor">
                            <option th:each="proveedor: ${proveedores}" th:text="${proveedor.nombre}"></option>
                        </select>
                    </div>
                    <div class="input__box">
                        <label for="">Precio Venta</label><br>
                        <input type="text" name="precio" id="precio_act" required>
                    </div>
                    <div class="input__box">
                        <label for="">Precio Compra</label><br>
                        <input type="text" name="precioCompra" id="precioC_act" required>
                    </div>
                    <div class="input__box">
                        <label for="">Marca</label><br>
                        <input type="text" name="marca" id="marca_act" required>
                    </div>
                    <div class="input__box">
                        <label for="">Imagen</label><br>
                        <input type="text" name="imagen1" id="imagen_act" required>
                    </div>
                    <div class="input__box">
                        <label for="">Codigo de barras</label><br>
                        <input type="text" name="codigoBarras" id="codigo_act" maxlength="13" pattern="\d{13}"
                            title="El codigo debe tener exactamente 13 digitos numericos" required>
                    </div>
                    <!-- Campos dinamicos -->
                    <div id="camposCategorias" class="category-fields"></div>
                    <div class="button__modal" style="display: flex; justify-content: space-between;">
                        <button id="editCaracte" type="button">Activar Características</button>
                        <style>
                            #editCaracte{
                                border: none;
                                cursor: pointer;
                                background-color: #e7d009;
                                color: #fff;
                                font-weight: bold;
                                border-radius: 5px;
                            }
                            #editCaracte:hover{
                                background-color: #bcb360;
                            }
                        </style>
                        <div class="btn-modal">
                            <input id="guardar-produc" type="submit" class="btn-guardar btn-edit" value="Guardar">
                            <input class="btn-cancelar btn-cancelar-edit" type="reset" value="Cancelar">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.getElementById('editCaracte').addEventListener('click', function () {
                // Obtiene todos los inputs dentro del contenedor
                const inputs = document.querySelectorAll('#camposCategorias input');

                // Recorre y habilita cada input
                inputs.forEach(input => {
                    input.disabled = false;
                });
            });
            const boton2 = document.querySelectorAll(".editproduc");
            boton2.forEach(boton => {
                boton.addEventListener('click', function () {
                    const fila = this.closest('tr');
                    const celdas = fila.querySelectorAll('td');

                    document.getElementById("nombre_act").value = celdas[1].textContent;
                    document.getElementById("descripcion_act").value = celdas[2].textContent;
                    document.getElementById("categoria_act").value = celdas[3].textContent;
                    document.getElementById("proveedor_act").value = celdas[4].textContent;
                    document.getElementById("precio_act").value = celdas[5].textContent;
                    document.getElementById("precioC_act").value = celdas[6].textContent;
                    document.getElementById("marca_act").value = celdas[8].textContent;
                    document.getElementById("imagen_act").value = celdas[9].textContent;
                    document.getElementById("codigo_act").value = celdas[10].textContent;

                    const form = document.getElementById("formEditar");
                    const idProducto = celdas[0].textContent.trim();


                    fetch(`http://localhost:8080/api/products/${idProducto}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Error el obtener el detalle del producto")
                            }
                            return response.json();
                        })
                        .then(detalle => {

                            form.action = `/inventario/productos/actualizar/${idProducto}`;

                            modalContEdit.style.opacity = "1";
                            modalContEdit.style.visibility = "visible";
                            VentEdit.classList.remove("ventana-close-edit");

                            let categoriaEdit = celdas[3].textContent;
                            const camposCategoria = document.getElementById('camposCategorias');

                            // Limpiar campos anteriores
                            camposCategoria.innerHTML = '';
                            camposCategoria.style.display = 'none';

                            switch (categoriaEdit) {
                                case "Laptops":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Laptop</h3>
                            <div class="input__box">
                                <label for="procesador">Procesador</label>
                                <input disabled  type="text" id="procesador" name="procesador" value="${detalle.procesador}" required>
                            </div>
                            <div class="input__box">
                                <label for="tarjetaGrafica">Tarjeta grafica</label>
                                <input disabled type="text" id="tarjetaGrafica" name="tarjetaGrafica" value="${detalle.tarjetaGrafica}" required>
                            </div>
                            <div class="input__box">
                                <label for="sistemaOperativo">Sistema Operativo</label>
                                <input disabled type="text" id="sistemaOperativo" name="sistemaOperativo" value="${detalle.sistemaOperativo}" required>
                            </div>
                            <div class="input__box">
                                <label for="tamañoPantalla">Tamaño de pantalla</label>
                                <input disabled type="text" id="tamañoPantalla" name="tamañoPantalla" value="${detalle.tamañoPantalla}" required>
                            </div>
                            <div class="input__box">
                                <label for="memoriaRam">Memoria RAM</label>
                                <input disabled type="text" id="memoriaRam" name="memoriaRam" value="${detalle.memoriaRam}" required>
                            </div>
                            <div class="input__box">
                                <label for="almacenamiento">Almacenamiento</label>
                                <input disabled type="text" id="almacenamiento" name="almacenamiento" value="${detalle.almacenamiento}" required>
                            </div>

                            `;
                                    break;
                                case "Smartphones":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Smartphones</h3>
                            <div class="input__box">
                                <label for="tamañoPantalla">Tamaño de pantalla</label>
                                <input disabled type="text" id="tamañoPantalla" name="tamañoPantalla" value="${detalle.tamañoPantalla}" required>
                            </div>
                            <div class="input__box">
                                <label for="memoriaRam">Memoria RAM</label>
                                <input disabled type="text" id="memoriaRam" name="memoriaRam" value="${detalle.memoriaRam}" required>
                            </div>
                            <div class="input__box">
                                <label for="almacenamientoInterno">Almacenamiento interno</label>
                                <input disabled type="text" id="almacenamientoInterno" name="almacenamientoInterno" value="${detalle.almacenamientoInterno}" required>
                            </div>
                            <div class="input__box">
                                <label for="resolucionCamara">Resolucion de camara</label>
                                <input disabled type="text" id="resolucionCamara" name="resolucionCamara" value="${detalle.resolucionCamara}" required>
                            </div>
                            <div class="input__box">
                                <label for="capacidadBateria">Capacidad de bateria</label>
                                <input disabled type="text" id="capacidadBateria" name="capacidadBateria" value="${detalle.capacidadBateria}" required>
                            </div>
                            <div class="input__box">
                                <label for="sistemaOperativo">Sistema operativo</label>
                                <input disabled type="text" id="sistemaOperativo" name="sistemaOperativo" value="${detalle.sistemaOperativo}" required>
                            </div>
                            `;
                                    break;
                                case "Auriculares":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Auriculares</h3>
                            <div class="input__box">
                                <label for="tipo">Tipo</label>
                                <input disabled type="text" id="tipo" name="tipo" value="${detalle.tipo}" required>
                            </div>
                            <div class="input__box">
                                <label for="duracion">Duracion</label>
                                <input disabled type="text" id="duracion" name="duracion" value="${detalle.duracion}" required>
                            </div>
                            <div class="input__box">
                                <label for="cancelacionRuido">Cancelacion de ruido</label>
                                <input disabled type="text" id="cancelacionRuido" name="cancelacionRuido" value="${detalle.cancelacionRuido}" required>
                            </div>
                            <div class="input__box">
                                <label for="conector">Conector</label>
                                <input disabled type="text" id="conector" name="conector" value="${detalle.conector}" required>
                            </div>
                            `;
                                    break;
                                case "Monitores":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Monitores</h3>
                            <div class="input__box">
                                <label for="tamañoPantalla">Tamaño de pantalla</label>
                                <input disabled type="text" id="tamañoPantalla" name="tamañoPantalla" value="${detalle.tamañoPantalla}" required>
                            </div>
                            <div class="input__box">
                                <label for="resolucion">Resolucion</label>
                                <input disabled type="text" id="resolucion" name="resolucion" value="${detalle.resolución}" required>
                            </div>
                            <div class="input__box">
                                <label for="tipoPanel">Tipo de panel</label>
                                <input disabled type="text" id="tipoPanel" name="tipoPanel" value="${detalle.tipoPanel}" required>
                            </div>
                            <div class="input__box">
                                <label for="frecuenciaActualizacion">Frecuencia de actualizacion</label>
                                <input disabled type="text" id="frecuenciaActualizacion" name="frecuenciaActualizacion" value="${detalle.frecuenciaActualizacion}" required>
                            </div>
                            <div class="input__box">
                                <label for="puertosEntrada">Puertos de entrada</label>
                                <input disabled type="text" id="puertosEntrada" name="puertosEntrada" value="${detalle.puertosEntrada}" required>
                            </div>
                            `;
                                    break;
                                case "Teclados":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Teclados</h3>
                            <div class="input__box">
                                <label for="tipo">Tipo</label>
                                <input disabled type="text" id="tipo" name="tipo" value="${detalle.tipo}" required>
                            </div>
                            <div class="input__box">
                                <label for="conectividad">Conectividad</label>
                                <input disabled type="text" id="conectividad" name="conectividad" value="${detalle.conectividad}" required>
                            </div>
                            <div class="input__box">
                                <label for="distribucion">Distribucion</label>
                                <input disabled type="text" id="distribucion" name="distribucion" value="${detalle.distribución}" required>
                            </div>
                            <div class="input__box">
                                <label for="retroiluminacion">Retroiluminacion</label>
                                <input disabled type="text" id="retroiluminacion" name="retroiluminacion" value="${detalle.retroiluminación}" required>
                            </div>
                            `;
                                    break;
                                case "Mouses":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Mouses</h3>
                            <div class="input__box">
                                <label for="tipo">Tipo</label>
                                <input disabled type="text" id="tipo" name="tipo" value="${detalle.tipo}" required>
                            </div>
                            <div class="input__box">
                                <label for="conectividad">Conectividad</label>
                                <input disabled type="text" id="conectividad" name="conectividad" value="${detalle.conectividad}" required>
                            </div>
                            <div class="input__box">
                                <label for="dpi">DPI</label>
                                <input disabled type="text" id="dpi" name="dpi" value="${detalle.dpi}" required>
                            </div>
                            <div class="input__box">
                                <label for="cantidadBotones">Cantidad de botones</label>
                                <input disabled type="text" id="cantidadBotones" name="cantidadBotones" value="${detalle.cantidadBotones}" required>
                            </div>
                            `;
                                    break;
                                case "Smartwatches":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de SmartWatches</h3>
                            <div class="input__box">
                                <label for="compatibilidad">Compatibilidad</label>
                                <input disabled type="text" id="compatibilidad" name="compatibilidad" value="${detalle.compatibilidad}" required>
                            </div>
                            <div class="input__box">
                                <label for="monitoreoSalud">Monitoreo de salud</label>
                                <input disabled type="text" id="monitoreoSalud" name="monitoreoSalud" value="${detalle.monitoreoSalud}" required>
                            </div>
                            <div class="input__box">
                                <label for="resistenciaAgua">Resistencia al agua</label>
                                <input disabled type="text" id="resistenciaAgua" name="resistenciaAgua" value="${detalle.resistenciaAgua}" required>
                            </div>
                            <div class="input__box">
                                <label for="duracion">Duracion</label>
                                <input disabled type="text" id="duracion" name="duracion" value="${detalle.duracion}" required>
                            </div>
                            `;
                                    break;
                                case "Tablets":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Tablets</h3>
                            <div class="input__box">
                                <label for="tamañoPantalla">Tamaño de pantalla</label>
                                <input disabled type="text" id="tamañoPantalla" name="tamañoPantalla" value="${detalle.tamañoPantalla}" required>
                            </div>
                            <div class="input__box">
                                <label for="memoriaRam">Memoria Ram</label>
                                <input disabled type="text" id="memoriaRam" name="memoriaRam" value="${detalle.memoriaRam}" required>
                            </div>
                            <div class="input__box">
                                <label for="almacenamientoInterno">Almacenamiento interno</label>
                                <input disabled type="text" id="almacenamientoInterno" name="almacenamientoInterno" value="${detalle.almacenamientoInterno}" required>
                            </div>
                            <div class="input__box">
                                <label for="resolucionCamara">Resolucion de la camara</label>
                                <input disabled type="text" id="resolucionCamara" name="resolucionCamara" value="${detalle.resolucionCamara}" required>
                            </div>
                            <div class="input__box">
                                <label for="sistemaOperativo">Sistema operativo</label>
                                <input disabled type="text" id="sistemaOperativo" name="sistemaOperativo" value="${detalle.sistemaOperativo}" required>
                            </div>
                            `;
                                    break;
                                case "Cámaras":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Camara</h3>
                            <div class="input__box">
                                <label for="tipo">Tipo</label>
                                <input disabled type="text" id="tipo" name="tipo" value="${detalle.tipo}" required>
                            </div>
                            <div class="input__box">
                                <label for="resolucion">Resolución</label>
                                <input disabled type="text" id="resolucion" name="resolucion" value="${detalle.resolución}" required>
                            </div>
                            <div class="input__box">
                                <label for="zoomOptico">Zoom Optico</label>
                                <input disabled type="text" id="zoomOptico" name="zoomOptico" value="${detalle.zoomOptico}" required>
                            </div>
                            <div class="input__box">
                                <label for="estabilizacionImagen">Estabilización de imagen</label>
                                <input disabled type="text" id="estabilizacionImagen" name="estabilizacionImagen" value="${detalle.estabilizacionImagen}"  required>
                            </div>
                            `;
                                    break;
                                case "Impresoras":
                                    camposCategoria.style.display = 'block';
                                    camposCategoria.innerHTML = `
                            <h3>Características de Impresoras</h3>
                            <div class="input__box">
                                <label for="tipo">Tipo</label>
                                <input disabled type="text" id="tipo" name="tipo" value="${detalle.tipo}" required>
                            </div>
                            <div class="input__box">
                                <label for="funciones">Funciones</label>
                                <input disabled type="text" id="funciones" name="funciones" value="${detalle.funciones}" required>
                            </div>
                            <div class="input__box">
                                <label for="conectividad">Conectividad</label>
                                <input disabled type="text" id="conectividad" name="conectividad" value="${detalle.conectividad}" required>
                            </div>
                            <div class="input__box">
                                <label for="velocidadImpresion">Velocidad de Impresion</label>
                                <input disabled type="text" id="velocidadImpresion" name="velocidadImpresion" value="${detalle.velocidadImpresion}" required>
                            </div>
                            <div class="input__box">
                                <label for="dobleCaraAutomatica">Doble cara automatica</label>
                                <input disabled type="text" id="dobleCaraAutomatica" name="dobleCaraAutomatica" value="${detalle.dobleCaraAutomatica}" required>
                            </div>
                            `;
                                    break;
                                case "":
                                    break;
                            }
                        })
                        .catch(error => {
                            console.error("Error ", error)
                        })



                });
            });


            const boton3 = document.querySelectorAll(".deleteProduc");
            boton3.forEach(boton => {
                boton.addEventListener('click', function () {
                    // Encontramos la fila asociada al botón
                    const fila = this.closest('tr');

                    // Recogemos los valores de las celdas de la fila
                    const valores = Array.from(fila.querySelectorAll('td')).map(td => td.textContent);

                    modalContDele.style.opacity = "1";
                    modalContDele.style.visibility = "visible";
                    VentDelete.classList.toggle("ventana-close-delete");

                    const form = document.getElementById("formEliminar");
                    const idProducto = valores[0].trim();
                    form.action = `/inventario/productos/eliminar/${idProducto}`;
                });
            });
        </script>
    </main>
    <script th:src="@{/js/caracteristicasCateg.js}"></script>
    <script th:src="@{/js/modalAdd.js}"></script>

    <script>
        const productInput = document.getElementById("productInput");
        const tableRows = document.querySelectorAll("#productList");

        function filterProducts() {
            const query = productInput.value.toLowerCase();

            tableRows.forEach(row => {
                // Filtrar basándonos en las celdas relevantes (e.g., nombre del producto)
                const productId = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                const productName = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                const productCat = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                const productProv = row.querySelector("td:nth-child(4)").textContent.toLowerCase();

                if (productId.includes(query) || productName.includes(query) || productCat.includes(query) || productProv.includes(query)) {
                    row.style.display = ""; // Mostrar fila
                } else {
                    row.style.display = "none"; // Ocultar fila
                }

            });
        }

        // Asociar la función al evento de entrada
        productInput.addEventListener("input", filterProducts);
    </script>

    <script>
        document.querySelector('.btn-pdf').addEventListener('click', function () {
            const filteredRows = Array.from(document.querySelectorAll("#productList"))
                .filter(row => row.style.display !== "none") // Solo filas visibles
                .map(row => {
                    const cells = row.querySelectorAll("td");
                    return [
                        cells[0].textContent.trim(),  // ID Producto
                        cells[1].textContent.trim(),  // Nombre
                        cells[2].textContent.trim(),  // Categoria
                        cells[3].textContent.trim(),  // Proveedor
                        cells[4].textContent.trim(),  // Descripcion
                        cells[5].textContent.trim(),  // Precio
                        cells[6].textContent.trim()   // Stock
                    ].join(",");
                });

            fetch('/reporte-pdf', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(filteredRows),
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'Reporte_Productos.pdf';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error('Error al generar el PDF:', error));
        });
    </script>

    <script>
        document.querySelector('.btn-excel').addEventListener('click', function () {
            const filteredRows = Array.from(document.querySelectorAll("#productList"))
                .filter(row => row.style.display !== "none") // Solo filas visibles
                .map(row => {
                    const cells = row.querySelectorAll("td");
                    return [
                        cells[0].textContent.trim(),  // ID Producto
                        cells[1].textContent.trim(),  // Nombre
                        cells[2].textContent.trim(),  // Categoria
                        cells[3].textContent.trim(),  // Proveedor
                        cells[4].textContent.trim(),  // Descripcion
                        cells[5].textContent.trim(),  // Precio
                        cells[6].textContent.trim()   // Stock
                    ].join(",");
                });

            fetch('/generarExcel', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(filteredRows)
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'reporte_productos.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error('Error al generar el Excel:', error));
        });
    </script>
    <script th:if="${error != '' && error != null}">
        alert("[[${error}]]");
    </script>
</body>

</html>