<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regsitro de Venta | Multiservicios Leo</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal.css}">
    <link rel="stylesheet" th:href="@{/css/style-registroVenta.css}">
</head>

<body>
    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Registro de Venta</p>
            </div>
            <div class="contenedor-registro-venta">
                <div class="cont-codigo-usuario">
                    <div class="info-cod-venta">
                        <p>Codigo</p>
                        <span class="cod-vent-regis">0001</span>
                    </div>
                    <div class="info-user-venta">
                        <p>Usuario</p>
                        <span class="cod-user-regis" th:text="${pedidos.id_usuario}">7777777</span>
                    </div>
                </div><br>
                <div class="cont-tabla-registro">
                    <p>Items</p>
                    <table class="tabla-registro-venta" id="tabla-listar">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cant</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody th:if="${pedidos != null}">
                            <tr th:each="item: ${pedidos.item}">
                                <td th:text="${item.producto.nombre}">
                                    arroz</td>
                                <td th:text="${item.producto.precioVenta}">
                                    4.50</td>
                                <td th:text="${item.cantidad}">2</td>
                                <td id="tot" class="tot" th:text="${item.total}">9</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td id="finalTotal">S/. 9</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="container-impri-edi-vol">
                    <div class="im-id-vol">
                            
                            <form th:action="@{/inventario/pedido/savePedido}" method="post">
                                <!-- <button type="button" class="btn-imprimir" onclick="window.location.href='/inventario/comprobante/factPedido'">Imprimir</button> -->
                                <button type="button" th:if="${ocultar == null}" class="btn-editar" onclick="window.location.href='/inventario/pedido/editarPedido'">Editar</button>
                                <button type="submit" th:if="${ocultar == null}" class="btn-save">Guardar</button>
                                <button type="button" class="btn-volver" onclick="window.location.href='/inventario/pedido/cancelar'">Volver</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let total_pag = document.querySelectorAll("td.tot");

        const precios = Array.from(total_pag).map(precios => precios.textContent.trim());
        console.log(precios);

        const t = precios.reduce((acc, precio) => parseFloat(acc) + parseFloat(precio), 0);
        console.log(t);
        document.getElementById("finalTotal").innerHTML = t.toFixed(2);
    </script>

</body>

</html>