<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORTES</title>
    <link rel="stylesheet" th:href="@{/css/style-reportes.css}">
    <link rel="icon" th:href="@{/images/logo.png}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
</head>

<body>
    <div class="head-cont-report">
        <div class="cont-volver">
            <a th:href="@{/inventario/ventas/ventas}"> <i class="fa-solid fa-arrow-left"></i> Volver</a>
        </div>
        <div class="cont-btns-reportes">
            <a th:href="@{/inventario/reportes/pedidos}">Reporte de pedidos</a>
            <a th:href="@{/inventario/reportes/productos}">Reporte de productos</a>
            <a th:href="@{/inventario/reportes/ventas}">Reporte de ventas</a>
            <a th:href="@{/inventario/reportes/usuarios}">Reporte de usuarios</a>
        </div>
    </div>

</body>

</html>