<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORTES</title>
    <link rel="stylesheet" th:href="@{/css/style-reportes.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

</head>

<body>
    <div class="contenedor-reportes-add">
        <div th:insert="venta/reportesHeader.html"></div>
        <div class="cont-filtros-report">
            <div class="cuerpo-reporte">
                <div class="content-title">
                    <h3>REPORTE DE PEDIDOS</h3>
                </div>
                <div class="cont-filt">
                    <div class="cont-tipoPedido">
                        <label for="">Elija el tipo de pedido:</label>
                        <select name="" id="tipoPedido" onchange="elegirTipoPedido()">
                            <option value="" selected></option>
                            <option value="Ecommerce">Ecommerce</option>
                            <option value="Inventario">A proveedores </option>
                        </select>
                    </div>
                    <div class="cont-restoFiltros" id="cont-restoFiltros">
                        <div class="fil1" id="fil1">
                            <div class="cont-pro">
                                <label for="">Proveedor:</label>
                                <select name="" id="proveedor">
                                    <option value="" selected>Selecciona</option>
                                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id}"
                                        th:text="${proveedor.nombre}">Carlos</option>
                                </select>
                            </div>
                            <div class="cont-user">
                                <label for="">Usuario:</label>
                                <select name="" id="usuario">
                                    <option value="" selected>Selecciona</option>
                                    <option th:each="empleado : ${empleados}" th:value="${empleado.id}"
                                        th:text="${empleado.nombre}">Carlos</option>
                                </select>
                            </div>
                        </div>
                        <div class="fil2" id="fil2">
                            <div class="cont-fecha">
                                <div class="fech">
                                    <label for="">Fecha Inicio:</label>
                                    <input type="date" id="fechaInicio">
                                </div>
                                <div class="fech">
                                    <label for="">Fecha Fin:</label>
                                    <input type="date" id="fechaFin">
                                </div>
                            </div>
                            <!-- <div class="cont-monto">
                                <div class="mont">
                                    <label for="">Monto Inicio:</label>
                                    <input type="number" min="0">
                                </div>
                                <div class="mont">
                                    <label for="">Monto Fin:</label>
                                    <input type="number" min="0">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="contenedor-geFilPed">
                        <div>
                            <label for="">Filtrar por estado:</label>
                            <select name="" id="estado">
                                <option value="" selected></option>
                                <option value="PENDIENTE">Pendiente</option>
                                <option value="CONFIRMADO">Confirmado</option>
                                <option value="EN_CAMINO">En camino</option>
                                <option value="ENTREGADO">Entregado</option>
                                <option value="CANCELADO">Cancelado</option>
                            </select>
                        </div>
                        <div>
                            <button onclick="generarPDF()">Imprimir Reporte</button>
                        </div>
                        <div>
                            <button id="btn-buscar" class="btn-buscar" onclick="buscarPedidos()">
                                <i class="fa-solid fa-magnifying-glass"></i> Buscar
                            </button>
                        </div>
                    </div>
                    <div class="contenedor-tabla-report">
                        <div class="cont-tabla">
                            <table class="tabla-filtro">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha Pedido</th>
                                        <th>Fecha Entrega</th>
                                        <th id="user-cliente">Usuario/Cliente</th>
                                        <th>Estado</th>
                                        <th>Monto Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaPedidos">
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cuerpo-graficos">

                <p id="mensaje" style="color: red;"></p>

                <canvas id="graficoPedidos" width="800" height="300"></canvas>

                <script>
                    const tabla = document.getElementById('tablaPedidos');

                    let chart = null;
                    let pedidos = null

                    function buscarPedidos() {

                        const inicio = document.getElementById("fechaInicio").value;
                        const fin = document.getElementById("fechaFin").value;
                        const estado = document.getElementById("estado").value
                        const tipoPedido = document.getElementById("tipoPedido").value
                        const proveedor = document.getElementById("proveedor").value;
                        const usuario = document.getElementById("usuario").value;

                        const datos = {
                            fechaInicio: inicio, fechaFinal: fin, idResponsable: usuario,
                            tipoPedido: tipoPedido, estado, idProveedor: proveedor
                        };

                        fetch("http://localhost:8080/api/order/filter", {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(datos)
                        })
                            .then(response => {
                                if (!response.ok) throw new Error("Error al obtener el detalle del pedido");
                                return response.json();
                            })
                            .then(detalle => {
                                let html = '';
                                pedidos = detalle
                                if (detalle.length > 0) {
                                    detalle.forEach(element => {
                                        html += `
                                <tr>
                                    <td>${element.idPedido}</td>
                                    <td>${element.fechaPedido}</td>
                                    <td >${element.fechaEntrega}</td>
                                    <td >${element.user.username}</td>
                                    <td>${element.estado}</td>
                                    <td>${element.total}</td>
                                </tr>`;
                                    });



                                    tabla.innerHTML = html;
                                    const estados = ["PENDIENTE", "CONFIRMADO", "EN_CAMINO", "ENTREGADO", "CANCELADO"];

                                    const colorEstado = {
                                        "PENDIENTE": "rgba(255, 206, 86, 0.6)",
                                        "CONFIRMADO": "rgba(54, 162, 235, 0.6)",
                                        "EN_CAMINO": "rgba(153, 102, 255, 0.6)",
                                        "ENTREGADO": "rgba(75, 192, 192, 0.6)",
                                        "CANCELADO": "rgba(255, 99, 132, 0.6)"
                                    };

                                    const fechaInicio = new Date(inicio);
                                    const fechaFin = new Date(fin);
                                    fechaInicio.setHours(0, 0, 0, 0);
                                    fechaFin.setHours(0, 0, 0, 0);

                                    const diferenciaDias = (fechaFin - fechaInicio) / (1000 * 60 * 60 * 24);
                                    console.log(diferenciaDias)

                                    if (diferenciaDias === 6) {

                                        const fechas = obtenerFechasEntre(inicio, fin);
                                        const pedidosRango = pedidos.filter(p => {
                                            const fechaP = new Date(p.fechaPedido)
                                            fechaP.setHours(0, 0, 0, 0)
                                            return fechaP >= fechaInicio && fechaP <= fechaFin;
                                        });

                                        const datasets = estados.map(estado => ({
                                            label: estado,
                                            data: fechas.map(fecha => {
                                                return pedidosRango.filter(p => {
                                                    const fechaP = new Date(p.fechaPedido).toISOString().split("T")[0]
                                                    return p.estado === estado && fechaP === fecha;
                                                }).length
                                            }),
                                            backgroundColor: colorEstado[estado]
                                        }))

                                        const todosLosValores = datasets.flatMap(ds => ds.data);
                                        const maxReal = Math.max(...todosLosValores, 1);
                                        const maxEscala = maxReal + 3;

                                        if (chart) chart.destroy();

                                        const ctx = document.getElementById("graficoPedidos").getContext("2d");
                                        chart = new Chart(ctx, {
                                            type: "bar",
                                            data: {
                                                labels: fechas,
                                                datasets: datasets
                                            },
                                            options: {
                                                responsive: true,
                                                plugins: {
                                                    title: {
                                                        display: true,
                                                        text: `Pedidos por estado del ${inicio} al ${fin}`
                                                    }
                                                },
                                                scales: {
                                                    y: {
                                                        beginAtZero: true,
                                                        max: maxEscala,
                                                        ticks: {
                                                            stepSize: 1,
                                                            precision: 0
                                                        },
                                                        title: {
                                                            display: true,
                                                            text: "Cantidad"
                                                        }
                                                    },
                                                    x: {
                                                        title: {
                                                            display: true,
                                                            text: "Fecha"
                                                        }
                                                    }
                                                }
                                            }
                                        });


                                    } else {

                                        const dataValores = estados.map(estado => pedidos.filter(p => p.estado === estado).length)

                                        const datasets = [{
                                            label: 'Pedidos',
                                            data: dataValores,
                                            backgroundColor: estados.map(e => colorEstado[e])
                                        }]

                                        const maxReal = Math.max(...dataValores, 1);
                                        const maxEscala = maxReal + 3;

                                        if (chart) chart.destroy();

                                        const ctx = document.getElementById("graficoPedidos").getContext("2d");
                                        chart = new Chart(ctx, {
                                            type: "bar",
                                            data: {
                                                labels: estados,
                                                datasets: datasets
                                            },
                                            options: {
                                                responsive: true,
                                                plugins: {
                                                    title: {
                                                        display: true,
                                                        text: 'Pedidos'
                                                    }
                                                },
                                                scales: {
                                                    y: {
                                                        beginAtZero: true,
                                                        max: maxEscala,
                                                        ticks: {
                                                            stepSize: 1,
                                                            precision: 0
                                                        },
                                                        title: {
                                                            display: true,
                                                            text: "Cantidad"
                                                        }
                                                    },
                                                    x: {
                                                        title: {
                                                            display: true,
                                                            text: "Estados"
                                                        }
                                                    }
                                                }
                                            }
                                        });


                                    }
                                } else {
                                    tabla.innerHTML = `<tr><td colspan="8" style="text-align:center;">No hay resultados</td></tr>`;
                                    if (chart) chart.destroy();

                                    // 🆕 Muestra un gráfico vacío
                                    const ctx = document.getElementById("graficoPedidos").getContext("2d");
                                    chart = new Chart(ctx, {
                                        type: "bar",
                                        data: {
                                            labels: [], // Sin etiquetas
                                            datasets: [] // Sin datos
                                        },
                                        options: {
                                            responsive: true,
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'No hay datos para mostrar'
                                                }
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true,
                                                    title: {
                                                        display: true,
                                                        text: "Cantidad"
                                                    }
                                                },
                                                x: {
                                                    title: {
                                                        display: true,
                                                        text: "Fechas/Estados"
                                                    }
                                                }
                                            }
                                        }
                                    });
                                }
                            })
                            .catch(error => console.error("Error ", error));
                    }

                    function formatearFecha(fecha) {
                        return fecha.toISOString().slice(0, 10);
                    }

                    function obtenerFechasEntre(inicio, fin) {
                        const fechas = [];
                        let actual = new Date(inicio);
                        const limite = new Date(fin);
                        while (actual <= limite) {
                            fechas.push(formatearFecha(actual));
                            actual.setDate(actual.getDate() + 1);
                        }
                        return fechas;
                    }

                </script>
            </div>
        </div>
    </div>
    <script th:src="@{/js/reportes.js}"></script>
    <script>
        window.addEventListener("load", buscarPedidos);

    </script>
</body>

</html>