<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios | Multiservicios Leo</title>
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/style-modal.css}">
        <link rel="stylesheet" th:href="@{/css/ventana-modal.css}">
    <link rel="stylesheet" th:href="@{/css/style-modal-delete.css}">
</head>
<body>

    <div class="modal__container--add">
        <div id="" class="ventana__modal ventana-close">
            <div class="form__name--add">
                <p><i class="fa-solid fa-plus"></i> Agregar Nuevo Usuario</p>
            </div>
            <form id="formulario" class="form_modal" th:action="@{/agregar_usu}" method="post">
                <div class="input__box">
                    <label for="">Nombre</label><br>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <div class="input__box">
                    <label for="">Email</label><br>
                    <input type="email" id="email" name="email">
                </div>
                <div class="input__box">
                    <label for="">Rol</label><br>
                    <input type="text" id="rol" name="rol">
                </div>
                <div class="input__box">
                    <label for="">Contraseña</label><br>
                    <input type="password" id="contraseña" name="contraseña">
                </div>
                <div class="button__modal">
                    <div class="btn-modal">
                        <input id="btn-user" type="submit" class="btn-guardar" value="Guardar">
                        <input class="btn-cancelar" type="reset" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-modal--edit">
        <div class="ventana_modal--edit ventana-close-edit">
            <div class="form__name--add">
                <p><i class="fa-solid fa-plus"></i> Editar Usuario</p>
            </div>
            <form id="formulario" class="form_modal" th:action="@{/actualizar_usu}" method="post">
                <input type="text" name="id_act" id="id_act" style="display: none;">
                <div class="input__box">
                    <label for="">Nombre</label><br>
                    <input type="text" id="nombre_act" name="nombre_act">
                </div>
                <div class="input__box">
                    <label for="">Email</label><br>
                    <input type="email" id="email_act" name="email_act">
                </div>
                <div class="input__box">
                    <label for="">Rol</label><br>
                    <input type="text" id="rol_act" name="rol_act">
                </div>
                <div class="input__box">
                    <label for="">Contraseña</label><br>
                    <input type="password" id="contraseña_act" name="contraseña_act">
                </div>
                <div class="button__modal">
                    <div class="btn-modal">
                        <input id="btn-user" type="submit" class="btn-guardar" value="Guardar">
                        <input class="btn-cancelar btn-cancelar-edit" type="reset" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container_modal--delete">
        <div class="ventana_modal--delete ventana-close-delete">
            <div class="confir-delete">
                <p>Confirmacion</p>
            </div>
            <div class="cont-pregunt-delete">
                <p>¿Deseas eliminar este usuario permanentamente?</p>
            </div>
            <div class="btns-delete">
                <div>
                    <button id="delete-btn" class="button-confir">Continuar</button>
                    <button class="button-cancelar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/eliminar_usu}" id="eliminar_usu" style="display: none;" method="post">
        <input type="text" id="id_eliminar" name="id_eliminar" required>
        <input type="submit">
    </form>


    <header class="header" th:insert="venta/header.html"></header>
    <nav class="navbar" th:insert="venta/navbar.html"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Lista de Usuarios</p>
                <button class="addition">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nuevo</p>
                </button>
            </div>
            <div class="Cont__buscar">
                <div class="buscar_search">
                    <label for="">Buscar :</label>
                    <input type="text" id="productInput">
                </div>
                <div class="cont-reportes">
                    <p>Generar reporte:</p>
                    <div class="reporte-btns">
                        <button class="btn-pdf"><i class="fa-solid fa-file-pdf"></i></button>
                        <button class="btn-excel"><i class="fa-solid fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
            <div class="cont_table">
                <div class="table__product">
                    <table class="table">
                        <tr class="thead">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Rol</th>
                        </tr>
                        <tr id="productList" th:each="usuario: ${usuarios}">
                            <td th:text="${usuario.idUsuario}">1</td>
                            <td th:text="${usuario.nombre}">Kenneth</td>
                            <td th:text="${usuario.email}">kenn</td>
                            <td th:text="${usuario.contraseña}">kenn</td>
                            <td th:text="${usuario.rol}">Admin</td>
                            <td>
                                <div class="container_action">
                                    <label  type="checkbox" class="action_checkbox">
                                    <label class="name_action" for="open_action">Accion <i class="fa-solid fa-caret-down" id="vuelta"></i></label>
                                    <div class="cont_opciones">
                                        <button class="editproduc">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="deleteProduc">Eliminar <i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <script>
                            const boton2 = document.querySelectorAll(".editproduc");
                            boton2.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    // Encontramos la fila asociada al botón
                                    const fila = this.closest('tr');
        
                                    // Recogemos los valores de las celdas de la fila
                                    const valores = Array.from(fila.querySelectorAll('td')).map(td => td.textContent);
        
                                    // Mostramos los valores recogidos
                                    document.getElementById("id_act").value = valores[0];
                                    document.getElementById("nombre_act").value = valores[1];
                                    document.getElementById("email_act").value = valores[2];
                                    document.getElementById("contraseña_act").value = valores[3];
                                    document.getElementById("rol_act").value = valores[4];
                                    modalContEdit.style.opacity = "1";
                                    modalContEdit.style.visibility = "visible";
                                    VentEdit.classList.toggle("ventana-close-edit");
                                });
                            });
                            
                            
                            const boton3 = document.querySelectorAll(".deleteProduc");
                            boton3.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    // Encontramos la fila asociada al botón
                                    const fila = this.closest('tr');
        
                                    // Recogemos los valores de las celdas de la fila
                                    const valores = Array.from(fila.querySelectorAll('td')).map(td => td.textContent);
        
                                    // Mostramos los valores recogidos
                                    document.getElementById("id_eliminar").value = valores[0];
                                    modalContDele.style.opacity = "1";
                                    modalContDele.style.visibility = "visible";
                                    VentDelete.classList.toggle("ventana-close-delete");
                                });
                            });

                            const boton4 = document.querySelectorAll(".button-confir");
                            boton4.forEach(boton => {
                                boton.addEventListener('click', function () {
                                    document.getElementById('eliminar_usu').submit();
                                });
                            });

                           
                        </script>
                        
                    </table>
                </div>
            </div>
        </div>
    </main>
    
    <script th:src="@{/js/modalAdd.js}"></script>

    <script>
        const productInput = document.getElementById("productInput");
        const tableRows = document.querySelectorAll("#productList");

        function filterProducts() {
            const query = productInput.value.toLowerCase();

            tableRows.forEach(row => {
                // Filtrar basándonos en las celdas relevantes (e.g., nombre del producto)
                const productId = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                const productName = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                const productEmail= row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                const productRol  = row.querySelector("td:nth-child(5)").textContent.toLowerCase();
                
                if (productId.includes(query) || productName.includes(query) || productEmail.includes(query) || productRol.includes(query)) {
                    row.style.display = ""; // Mostrar fila
                } else {
                    row.style.display = "none"; // Ocultar fila
                }

            });
        }

        // Asociar la función al evento de entrada
        productInput.addEventListener("input", filterProducts);
    </script>

    <script>
        document.querySelector('.btn-pdf').addEventListener('click', function () {
            const filteredRows = Array.from(document.querySelectorAll("#productList"))
                .filter(row => row.style.display !== "none") // Solo filas visibles
                .map(row => {
                    const cells = row.querySelectorAll("td");
                    return {
                        idUsuario: cells[0].textContent.trim(),
                        nombre: cells[1].textContent.trim(),
                        email: cells[2].textContent.trim(),
                        rol: cells[4].textContent.trim()
                    };
                });

            fetch('/reporteUsuarios-pdf', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(filteredRows),
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'Reporte_Usuarios.pdf';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error('Error al generar el PDF:', error));
        });
    </script>
    <script>
        document.querySelector('.btn-excel').addEventListener('click', function () {
            const filteredRows = Array.from(document.querySelectorAll("#productList"))
                .filter(row => row.style.display !== "none") // Solo filas visibles
                .map(row => {
                    const cells = row.querySelectorAll("td");
                    return {
                        idUsuario: cells[0].textContent.trim(),
                        nombre: cells[1].textContent.trim(),
                        email: cells[2].textContent.trim(),
                        rol: cells[4].textContent.trim()
                    };
                });
    
            fetch('/excelUsuarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(filteredRows)
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'reporte_usuarios.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error('Error al generar el Excel:', error));
        });
    </script>
</body>
</html>