body{
    margin: 0;
}


.dos_columnas{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #F3F5F5;;
    width: auto;
    height: 100%;
    gap: 20px;
}

.opciones_admin{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.opciones_admin ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    list-style-type: none;
    line-height: 70px;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.opciones_admin ul li{
    width: 50%;
    height: 100%;
    background-color: #DE0900;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
}
 
.opciones_admin ul li button{
    width: 100%;
    height: 100%;
    line-height: 70px;    
    border: none;
    background-color: #DE0900;
    color: #fff837;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
}

.opciones_admin ul li button:hover{
    opacity: 0.5;
}


.info{
    border: 1px solid black;
    width: 70%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
}

table{
    border: 3px solid black;
    width: 100%;
    text-align: center;
}

table th{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

table tr:hover{
    opacity: 0.7;
    background-color: #de0900;
    color: white;
}


button{
    background-color: #DE0900;
    color: yellow;
    width: 100%;
    height: 100%;
}

button:hover{
    opacity: 0.7;
}

#ingresar{
    display: none;
}

#ingresar2{
    display: none;
}

#actualizar_productos{
    display: none;
}

#actualizar_usuarios{
    display: none;
}

#eliminar_usuarios{
    display: none;
}

#eliminar_productos{
    display: none;
}