.content{
    display: flex;
    margin: 10px 60px;
    gap: 20px;
}
.Opciones{
    font-family: "Nunito", sans-serif;
    width: 350px;
    height: 100%;
    border: 1px solid #266bc0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    h2{
        text-align: center;
        color: #1D2937;
    }
    ul{
        padding: 0;
    list-style: none;
        li{
            padding: 20px 0;
            margin: 8px;
            a{
            text-decoration: none;
            padding: 20px 45px;
            color: #1D2937;
            }
            
        }
        li:hover{
            background-color: #c8c8c8;
        }
    }
}

.Contenido{
    width: 100%;
    padding: 10px 40px;
    border: 3px solid #266bc0;
    border-radius: 10px;
}


@media (max-width:850px) {
    .content{
        margin: auto;
        width: 80%;
        flex-direction: column;
    }
    .Opciones{
        width: 100%;
        h2{
            font-size: 0;
        }
       ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li{
                align-items: center;
                max-width: 50%;
            }
        }
    }
    .Contenido{
        margin: auto;
        width: 80%;
    }
}