*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #1D2937;
}
body{
    background-color: #AD0000;
}

.container{
    width: 600px;
    height: 450px;
    margin: 8% auto;
    background-color: #fff;
    border: 2px solid #AD0000;
    border-radius: 5px;
    box-shadow: 0 0 35px 5px #1D2937;
    position: relative;
    overflow: hidden;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom:40px;
    color: #DE0900;
}

.container form{
    width: 600px;
    height: 450px;
    margin: 8% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#Form1{
    overflow: scroll;
    scrollbar-width: thin;
}

.container form.active {
    opacity: 1;
    visibility: visible;
}


form input{
    width: 80%;
    padding: 10px 5px;
    margin: 8px 10%;
    border: 0;
    border-bottom: 1px solid #DE0900;
    border-left: 1px solid #DE0900;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}
::placeholder{
    color: #AD0000;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #DE0900, #FEDA00);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover{
    background: linear-gradient(to left, #DE0900, #FEDA00);

}
#Form1,#Form2,#Form3,#Form4{
    left: 50%;
}

#Form4{
    width: 90%;
}

.prod{
    width: 100%;
    text-align: center;
}
.Sele{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px 20px;
    margin: 25px 10%;
    select{
        color: #AD0000;
        border: 0;
        border: 2px solid #FEDA00;
        border-radius: 10px;
        padding: 6px;
}
    h2{
        text-align: center;
        font-size: 20px;
        color: #AD0000;
    }
}

.step-row{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #eb0000;
    position: relative;
}

.step-col{
    text-align: center;
    width: 100%;
    color: #ffffff;
    position: relative;
}

#progreso{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #AD0000, #FEDA00);
    transition: width 0.5s;
}

#progreso::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FEDA00;
    position: absolute;
    right:-20px;
    top: 0;
}

.fi{
    text-align: end;
}

.T{
    font-weight: bolder;
}

