body{
    margin: 0;
    padding: 0
}

.Opciones ul li:nth-child(1){
    border-left: 4px solid #266bc0;
    background-color: #cdcdcd;
}


.Contenido{
    width: 100%;
    padding: 10px 40px;
    border: 3px solid #1b7eff;
    border-radius: 10px;
    h2{
        font-size: 22px;
        font-style: italic;
        border-bottom: 2px solid #173b66;
        text-align: center;
    }
}

form{
    display: grid;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    grid-template-columns: 2fr 1fr ;
    margin: 10px 60px;
        
            input[type=number]::-webkit-outer-spin-button,
            input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

        div{
            margin: 20px 0;
            label{
                font-weight: bolder;
            }
            
        }
        input{
            margin: 10px 0;
            border: none; 
            border-bottom: 2px solid #266bc0; 
            border-radius: 0; 
            padding: 10px;
            width: 70%;
            outline: none; 
            font-size: 16px;
        }        
}

.ima{
    background-color: #266bc0;
    border: 3px solid #266bc0;
    margin: 12px;
    padding: 4px 10px;
    border-radius: 10px;
}

.bott{
    border: 3px solid #266bc0;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #22599c;
    align-items: center;
    padding: 8px;
    margin: 20px 10px;

}

.botons{
    margin-left: 310px;
}