*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-width: 187px;
    min-height: 640px;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 825px;
}


.dos_columnas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex: 1;
}

.iniciar{
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 20px 25px;
    box-shadow: 0 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 2;
    align-content: center;
    align-items: center;
    background-color: #0c1633;

}

.imagen{
    width: 50%;
    background-image: url(https://static.grupojoly.com/clip/06db8897-19f6-4b74-a6ce-7811568269ec_source-aspect-ratio_1600w_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 100%;
}

.opciones{
    margin-top: 1%;
    padding: 20px 25px;
    width: 100%;
    max-width: 508px;   
}

.titulo{
    margin: 10px;
}

input{
    border-radius: 25px;
    padding: 0 20px;
    background-color: #fff;
    background-clip: padding-box;
    vertical-align: baseline;
    margin: 10px;
    height: 40px;
    width: 100%;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.mensaje_error{
    font-weight: 600;
    color: rgb(206, 59, 62);
}

a{
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.boton_iniciar{
    background-color: #fff;
    color: #13161c;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: .75rem 1rem;
    line-height: 1.5rem;
    margin: 10px;
}