.contenido{
    margin: auto;
    width: 80%;
    box-shadow: 0 0 10px 1px #FEDA00;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    a{
    text-decoration: none;
    }
}

.opciones{
    width: 300px;
    font-family: "Nunito", sans-serif;
    color: #DE0900;
    border: 4px solid #FEDA00;
    background-color: #fed80049;
    border-radius: 10px;
    padding: 10px;
    h2{
        font-size: 20px;
        padding: 0px 4px;
    }
    p{
        color: #AD0000;
    }
}

.prin{
    display: flex;

    img{
        width: 50px;
        height: 55px;
    }
}

a:hover{
    box-shadow: 0 0 14px #FEDA00;
    border-radius: 10px;
}