.Opciones ul li:nth-child(2){ /*Decorar en donde estamos ubicados*/
    border-left: 4px solid #266bc0 ;
    background-color: #cdcdcd;
}

.titu{
    font-size: 20px;
    color: #020303;
    text-shadow: 0 4px 2px #3b74b56b;

}

.Contenido{
    font-family: "Nunito", sans-serif;
    width: 100%;
    padding: 20px 40px;
    border: 2px solid #173b66;
    border-radius: 10px;
    margin-top: 100px;
    h3{
        font-size: 22px;
        font-style: italic;
        border-bottom: 2px solid #173b66;
        text-align: center;
    }
    p{
        font-size: 18px;
        margin: 0;
    }
    li{
        margin: 10px;
    }
    a{
        color: #173b66;
        font-size: 18px;
    }
    a:hover{
        font-size: 20px;
        color: #225ba1;
    }

}

