@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat';
}

div, nav, ul, body, header, main{
    box-sizing: border-box;
}

p, ul, body, h1{
    margin: 0;
    padding: 0;
}
/* ----- HEADER ----- */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #0078ff;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 3px 3px #0003;
}

.contenedor__logo img{
    width: 100%;
    height: 80px;
}

.title__inicio p{
    font-size: 20px;
    font-weight: 700;
}

.contenedor__perfil{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.contenedor__perfil i{
    font-size: 30px;
}

.icon__notifi{
    padding-right: 20px ;
}

.name_profile{
    text-align: right;
    padding: 0 20px;
}

.name_profile span{
    font-weight: 700;
}
.linea{
    width: 1px;
    height: 35px;
    background-color: #000;
}

.profile{
    display: flex;
    align-items: center;
}


/* ----- NAVBAR ----- */

.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 104px;
    width: 20%;
    height: 100%;
    background-color: #001a3b;
    padding: 30px;
    z-index: 10;
    box-shadow: 0 0 5px 1px #0007;
}
    

.contenedor__navbar i{
    font-size: 20px;
    margin-right: 10px;
    color: #fff9;
}
.contenedor__navbar{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.accesoAdmin ul, .accesoUser ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accesoAdmin li, .accesoUser li{
    padding: 10px;
    list-style: none;
}

.accesoAdmin li:hover, .accesoUser li:hover, .pagina_activa{
    background-color: #1c3e6a;
    border-radius: 4px;
    color: #fff;
}

.contenedor__navbar a:hover{
    color: #fff;
}

.accesoUser a, .accesoAdmin a{
    color: #fff9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.accesoAdmin p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

/* main */

.contenedor_main{
    max-width: 80%;
    position: relative;
    z-index: 1;
    top: 104px;
    left: 20%;
    padding: 20px;
    background-color: #f4f6fa;
}

.contenedor__inicio .title_cont{
    width: 100%;
    border-bottom: 1px solid #0005;
    padding-bottom: 20px;
}

.title_cont h1{
    font-weight: 500;
}

.contenido{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;
}

.item{
    background-color: #343a44;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #0008;
}

.item a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

.item i{
    font-size: 30px;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.item:nth-child(1) i{
    background-color: #0078ff;
}
.item:nth-child(2) i{
    background-color: #0e96b6   ;
}
.item:nth-child(3) i{
    background-color: #ffbb01;
}
.item:nth-child(4) i{
    background-color: #001d43;
}
.item:nth-child(5) i{
    background-color: #ff850d;
}
.item:nth-child(6) i{
    background-color: #744dc6;
}
.item:nth-child(7) i{
    background-color: #e83260;
}
.item:nth-child(8) i{
    background-color: #4cba74;
}

.cerrar-sesion{
    margin: auto;
    padding: 10px;
    background-color: #fff3;
    border-radius: 5px;
}
.cerrar-sesion div{
    padding: 10px 15px;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
}


.cerrar-sesion i{
    margin-right: 5px;
}

.cerrar-sesion a{
    text-decoration: none;
    color: #000;
}

.cerrar-sesion a:hover{
    font-weight: 500;
    transition: 1.5s;
}