input{
    box-sizing: border-box;
}

.contenedor_modal{
    border: 1px solid rgba(173, 173, 173, 0.467);
    border-radius: 5px;
    border-top: 3px solid #0078ff;
    padding-bottom: 10px;
}
.title__add--modal{
    padding: 20px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.title__add--modal p{
    font-weight: 600;
}

.contenedor__form--venta{
    padding: 20px;
    box-sizing: content-box;
}

.contenedor__form--venta form{
    box-sizing: border-box;
}

.cont_cod-user{
    display: flex;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}
.cont_cod-user label{
    font-size: 14px;
    font-weight: bold;
    color: #4285d1;
}

.cont_cod-user div{
    width: 50%;
}

.cont_cod-user input{
    width: 100%;
    padding: 3px;
    margin-top: 10px;
}


.info-produc-venta{
    padding: 20px 0;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.info-produc-venta p{
    color: #4285d1;
    font-size: 20px;
    font-weight: bold;
}

/*SELECCIONAR PRODUCTOS*/
.dropdown-container {
    position: relative;
    width: 200px;
}

.dropdown-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 110;
}

.dropdown-list div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list div:hover {
    background-color: #f0f0f0;
}

.table-list{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
.cont-table-list{
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px 0;
    text-align: center;
}
th {
    background-color: #141938;
    color: #fff;
}

.listar{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.listar label{
    font-size: 14px;
    font-weight: bold;
}
.listar div{
    width: 100%;
    max-width: 200px;
}

.listar input, .listar select{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgba(173, 173, 173, 0.467);
}

.listar input:focus-visible, .listar select:focus-visible{
    outline: 2px solid #3391fc;
}

.btn-agregar-list{
    text-align: center;
}
.btn-agregar-list button{
    padding: 10px 30px;
    background-color: #0078ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

tfoot tr td:first-child{
    text-align: right;
}

.container-submit-cancelar{
    width: 100%;
    background-color: #0001;
    padding: 3px;
}

.container-submit-cancelar, .sub-can{
    display: flex;
    justify-content: center;
}

.sub-can{
    gap: 10px;
}

.sub-can input, .sub-can button{
    border: none;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.sub-can input{
    background-color: #0078ff;
}

.sub-can button{
    background-color: #ca0505;
}

