.contenedor-registro-provee{
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.cont-codigo-provee{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cont-codigo-provee p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4285d1;
}

.cont-codigo-provee span{
    font-weight: 600;
    font-size: 14px;
}


.cont-tabla-registro{
    padding-bottom: 50px;
}

.cont-tabla-registro p{
    color: #4285d1;
    font-size: 20px;
    font-weight: 600;
}

.tabla-registro-venta{
    width: 100%;
    border-collapse: collapse;
}

.table-list{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
.cont-table-list{
    margin-bottom: 20px;
}
tbody td {
    border: 1px solid #ddd;
    padding: 8px 0;
    text-align: center;
}
th {
    background-color: #141938;
    color: #fff;
}
tbody{
    background-color: rgba(142, 142, 142, 0.067);
}

tfoot td{
    border: 1px solid #ddd;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
}
tfoot tr td:nth-child(1){
    text-align: right;
}

tfoot tr td:nth-child(2){
    text-align: center;
}

tfoot tr td:first-child, tfoot tr td:last-child{
    padding: 5px 5px;
}

.container-impri-edi-vol{
    padding: 10px 0;
    background-color: #0001;
    border-radius: 5px;
}
.container-impri-edi-vol, .im-id-vol{
    display: flex;
    justify-content: center;
}

.im-id-vol{
    gap: 20px;
}

.im-id-vol button{
    border: none;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.im-id-vol button:nth-child(1){
    background-color: #20889c;
}
.im-id-vol button:nth-child(2){
    background-color: #0078ff;
}
.im-id-vol button:nth-child(3){
    background-color: #ca0505;
}