.ventana_modal--delete{
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 7px 10px 5px #0006;
    position: relative;
    transition: transform .6s;
    transform: translateX(0%);
}

.ventana-close-delete{
    transform: translateX(220%);
}

.confir-delete, .cont-pregunt-delete, .btns-delete{
    padding: 15px;
}

.confir-delete{
    font-weight: 600;
}

.cont-pregunt-delete{
    font-size: 14px;
    font-weight: 600;
    border-top: 1px solid rgba(173, 173, 173, 0.467);
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.btns-delete{
    display: flex;
    justify-content: right;
}

.btns-delete button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btns-delete button:first-child{
    background-color: #0078ff;
}

.btns-delete button:last-child{
    background-color: #0009;
}