input{
    box-sizing: border-box;
}

.contenedor_form-pedido{
    padding: 20px;
}

.contenedor_form-pedido form{
    box-sizing: border-box;
}

.cont-cod-provee{
    display: flex;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}
.cont-cod-provee label{
    font-size: 14px;
    font-weight: bold;
    color: #4285d1;
}

.cont-cod-provee div{
    width: 50%;
}

.cont-cod-provee input{
    width: 100%;
    padding: 3px;
    margin-top: 10px;
}

.info-produc-pedido{
    padding: 20px 0;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.info-produc-pedido p{
    color: #4285d1;
    font-size: 20px;
    font-weight: bold;
}

.listar-pedido{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.listar-pedido label{
    font-size: 14px;
    font-weight: bold;
}
.listar-pedido div{
    width: 100%;
    max-width: 200px;
}

.listar-pedido input{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgba(74, 74, 74, 0.719);
}

.listar-pedido input:focus-visible{
    outline: 2px solid #3391fc;
}

.agregar-list-pedido{
    text-align: center;
}
.agregar-list-pedido button{
    padding: 10px 30px;
    background-color: #0078ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.table-list{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
.cont-table-list{
    margin-bottom: 20px;
}
tbody td {
    border: 1px solid #ddd;
    padding: 8px 0;
    text-align: center;
}
th {
    background-color: #141938;
    color: #fff;
}
tbody{
    background-color: rgba(142, 142, 142, 0.067);
}

tfoot td{
    border: 1px solid #ddd;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
}
tfoot tr td:nth-child(1){
    text-align: right;
}

tfoot tr td:nth-child(2){
    text-align: center;
}

tfoot tr td:first-child, tfoot tr td:last-child{
    padding: 5px 5px;
}

.quitar-listas{
    padding: 5px;
    border: 1px solid #ca0505;
    box-shadow: 0 0 2px #ca0505;
    font-weight: bold;
    text-decoration: none;
    color: #ca0505;
}

.container-submit-cancelar{
    width: 100%;
    background-color: #0001;
    padding: 3px;
}

.container-submit-cancelar, .sub-can{
    display: flex;
    justify-content: center;
}

.inp-descuen{
    width: 40px;
    padding: 5px 2px;
}

.sub-can{
    gap: 10px;
}

.sub-can input, .sub-can button{
    border: none;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.sub-can input{
    background-color: #0078ff;
}

.sub-can button{
    background-color: #ca0505;
}

/*SELECCIONAR PRODUCTOS*/
.dropdown-container {
    position: relative;
    width: 200px;
}

.dropdown-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 2;
}

.dropdown-list div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list div:hover {
    background-color: #f0f0f0;
}

/*SELECCIONAR Proveedores*/


.dropdown-inputs {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.dropdown-lista {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 2;
}

.dropdown-lista div {
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.dropdown-lista div:hover {
    background-color: #f0f0f0;
}