button {
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.contenedor-vuelto {
    display: grid;
    height: 80dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0 100px;
    gap: 55px;
}

.vuelto-monto {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.vueltito {
    padding: 15px;
    background-color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.cont-btn-volver {
    display: flex;
    justify-content: center;
}

.btn-volver {
    background-color: #B68D8D;
    padding: 10px 35px;
}

.cont-error-cuerpo {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 40px;
}

.head-vuelto {
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    background-color: #b6b6b6;
    font-weight: 600;
}

.cuerpo-vuelto {
    background-color: #fff;
}

.todo-vuelto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 15px;
    background-color: #f1f2f3;
}

.todo-vuelto p:nth-child(2) {
    text-align: center;
}

.todo-vuelto p:nth-child(3) {
    text-align: right;
}


.cont-error-pagar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.cont-error {
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    align-items: center;
}

.cont-btn-limpiar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-limpiar {
    background-color: #9d4646;
    padding: 10px 20px;
}

.btn-total-Pagar {
    padding: 20px 0;
    font-size: 25px;
    background-color: #48e;
}

.foot-infoex {
    display: flex;
    justify-content: space-between;
    background-color: #d7d7d7;
    padding: 5px 10px;
}

.foot-infoex {
    font-weight: 600;
}

#fecha,
#hora,
#transac {
    font-weight: normal;
}