.contenedor_main {
    width: 100%;
}

.contenedor_modal {
    border: 1px solid rgba(173, 173, 173, 0.467);
    border-radius: 5px;
    border-top: 3px solid #0078ff;
    padding-bottom: 10px;
    height: 80dvh;
}

.title__add--modal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.title__add--modal p {
    font-weight: 600;
}

.addition {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0078ff;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.addition:hover {
    background-color: #3391fc;
}

.addition i {
    padding-right: 5px;
}

.Cont__buscar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    font-weight: bold;
}

.cont-reportes {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-reportes button {
    padding: 5px 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.cont-reportes button i {
    font-size: 20px;
}

.cont-reportes button:first-child {
    background-color: #b51308;
}

.cont-reportes button:last-child {
    background-color: #0a7641;
}


.buscar_search input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(165, 165, 165, 0.467);

}

.buscar_search label {
    font-weight: 600;
}

.buscar_search input:focus-visible {
    outline: 2px solid #3391fc;
}

.cont_table {
    padding: 0 35px;
    width: 100%;
}

.table__modal, .table__product{
    height: 450px;
    overflow: auto;
}

.table {
    text-align: center;
    width: 100%;
    border-top: 1px solid rgba(173, 173, 173, 0.467);
    border-collapse: collapse;
}

.thead {
    border-bottom: 2px solid #0002;
}

.table th,
.table td {
    padding: 8px;
}

.table tr:nth-child(2n) {
    background-color: #0001;
}

#productList td {
    max-width: 400px;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
}

#productList td:not(.acciones) {
    overflow: hidden;
}


#productList {
    width: 100%;
}

.container_action {
    margin: auto;
    max-width: 100px;
    padding: 5px;
    background-color: #0001;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #0004;
}

#productList td.acciones {
    overflow: visible;
    position: relative;
}

.name_action::selection {
    background-color: transparent;
}

.container_action,
.name_action,
.fa-caret-down,
.cont_opciones button {
    cursor: pointer;
}


.cont_opciones {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 3px 3px #0002;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    flex-direction: column;
    z-index: 50;
}


#open_action {
    padding: 0;
    margin: 0;
    display: none;
}

#open_action:checked~.cont_opciones {
    display: flex;
}

.fa-pen-to-square {
    color: #00F;
}

.fa-trash-can {
    color: #f00;
}

.cont_opciones button:first-child {
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.cont_opciones button {
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ACTIVO, .ENTREGADO, .CONFIRMADO {
    width: fit-content;
    display: inline-block;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #d1fae5;
    color: #065f46;
    transition: background-color 0.2s ease-in-out;
}

.INACTIVO, .CANCELADO {
    width: fit-content;
    display: inline-block;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #fef2f2;
    color: #991b1b;
    transition: background-color 0.2s ease-in-out;
}

.PENDIENTE {
    width: fit-content;
    display: inline-block;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #FFF59D;
    color: #795548;
    transition: background-color 0.2s ease-in-out;
}

.EN_CAMINO {
    width: fit-content;
    display: inline-block;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #d6eaf8;
    color: #2980b9;
    transition: background-color 0.2s ease-in-out;
}

.error-msg {
  color: #e53935;  
  font-size: 0.85rem;   
  margin-top: 2px;
  display: block;
  font-style: italic;
}

.btn-guardar:disabled{
  background-color: #d3d3d3;
  color: #888;
  border: 1px solid #bbb;
  cursor: not-allowed;
  opacity: 0.6;
  transition: 0.3s ease;
}

.btn-user:disabled{
  background-color: #d3d3d3;
  color: #888;
  border: 1px solid #bbb;
  cursor: not-allowed;
  opacity: 0.6;
  transition: 0.3s ease;
}