.contenedor-registro-venta{
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.cont-codigo-usuario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cont-codigo-usuario p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4285d1;
}

.cont-codigo-usuario span{
    font-weight: 600;
    font-size: 14px;
}

.cont-tabla-registro{
    padding-bottom: 50px;
}

.cont-tabla-registro p{
    color: #4285d1;
    font-size: 20px;
    font-weight: 600;
}

.tabla-registro-venta{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 5px;
    text-align: center;

}
th {
    background-color: #141938;
    color: #fff;
}

tfoot tr td:first-child{
    text-align: right;
    font-weight: bold;
}
tfoot tr td:last-child{
    font-weight: bold;
}

.container-impri-edi-vol{
    padding: 10px 0;
    background-color: #0001;
    border-radius: 5px;
}
.container-impri-edi-vol, .im-id-vol{
    display: flex;
    justify-content: center;
}

.im-id-vol{
    gap: 20px;
}

.im-id-vol button{
    border: none;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.im-id-vol button:nth-child(1){
    background-color: #20889c;
}
.im-id-vol button:nth-child(2){
    background-color: #0078ff;
}
.im-id-vol button:nth-child(3){
    background-color: #ca0505;
}