@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
body, p, h3 {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

body {
    overflow: hidden;
    box-sizing: border-box;
    overflow: scroll;
}

button {
    cursor: pointer;

}
div, select, input{
    box-sizing: border-box;
}
option{
    font-weight: 600;
}
select{
    padding: 5px 10px;
    font-weight: 600;
}

input{
    padding: 5px 10px;
}
.head-cont-report {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #e8e5e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.cont-btns-reportes {
    display: flex;
    justify-content: space-around;
}

.cont-volver,
.cont-btns-reportes {
    padding: 10px;
    box-shadow: 0 0 5px #000;
}

.cont-volver button {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.cont-volver button:hover, .cont-btns-reportes button:hover{
    background-color: #d6d5d5;
    transition: 1s;
}

.cont-btns-reportes button {
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding: 0 10px;
}

.cont-filtros-report {
    display: flex;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px);
}

.cuerpo-reporte {
    width: 50%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px;
    background-color: #fff;
}

.cuerpo-graficos {
    width: 50%;
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    padding: 20px;
    border-left: 2px solid #aaa;
    overflow-y: auto;
}

.content-title{
    text-align: center;
    padding-bottom: 20px;
}

.cont-tipoPedido{
    text-align: center;
    margin-bottom: 20px;
}

.cont-restoFiltros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 20px;
}

.cont-pro, .cont-user, .fech, .mont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fil1 select{
    height: 35px;
}

.fil1 label, .fil2 label{
    font-weight: 600
}

.fil2 input{
    width: 100%;
}

.fil1, .fil2, .cont-fecha, .cont-monto{
    display: grid;
    gap: 10px;
}
.cont-restoFiltros{
    display: none;
}

.tabla-filtro{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000;
}

.tabla-filtro thead{
    background-color: #2667ea;
    color: #ffffff;
}

.tabla-filtro thead th, .tabla-filtro tbody td{
    padding: 5px 10px;
}

.contenedor-geFilPed{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    align-items: center;
}

.contenedor-tabla-report{
    padding: 20px 0;
}