button{
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.contenedor-espera{
    display: grid;
    height: 80dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0 100px;
    gap: 25px;
}

.cont-total-volver, .contproduc-vendidos-Mpago, .cont-error-pagar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.medioPago-total{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.div-mediopago span{
    margin-left: 20px;
}

.total-monto input, .total-monto p, .div-mediopago p{
    font-size: 25px;
    font-weight: 600;
}

.div-mediopago{
    padding: 0 20px;
}

.total-monto{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 19px 20px;
    box-sizing: border-box;
    align-items: center;
}

.total-monto input{
    border: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 32px;
    text-align: center;
}


.total-monto input::placeholder{
    font-weight: normal;
    text-align: center;
}

.cont-btn-volver{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;

}

.cont-btn-volver .btn-volver{
    background-color: #B68D8D;
    padding: 10px 30px;
}

.btn-volver:hover{
    background-color: #9c7d7d;
    transition: .5s;
}

.contenedor-selecProduc{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 30px;
}

.produc-Avender .head-medioPago{
    display: flex;
    justify-content: space-between;
    background-color: #b6b6b6;
    padding: 3px 10px;
    font-weight: 600;
}


.productos-T{
    overflow-y: scroll;
    scrollbar-width: none;
    height: 280px;
}

.produc-Avender{
    background-color: #fff;
}

.only-producto{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 15px 10px;
    background-color: #f1f2f3;
}

.only-producto div:nth-child(3){
    text-align: right;
}

.descrip-producto{
    text-transform: uppercase;
}

.cant-precio-total{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img-tarjetaB{
    display: flex;
    margin: auto;
}

.img-tarjetaB img{
    height: 300px;
    width: 300px;
}

.tipo-pago{
    background-color: rgb(34, 134, 177);
    border-radius: 60px;
    font-size: 25px;
}

.cont-error{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #ffffff;
    align-items: center;
    padding: 10px;
}

.error-mostrado{
    background-color: #ffffff;
}



.btn-continuar{
    background-color: #48e;
    font-size: 30px;
    padding: 10px 0;
}

.btn-continuar i{
    font-size: 25px;
    font-weight: bold;
}


.btn-limpiar{
    background-color: #9d4646;
    padding: 10px 0;
}


.foot-infoex{
    display: flex;
    justify-content: space-between;
    background-color: #d7d7d7;
    padding: 5px 10px;
}

.foot-infoex{
    font-weight: 600;
}

#fecha, #hora, #transac{
    font-weight: normal;
}