.modal__container--add, .container_modal--delete, .container-modal--edit{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0005;
    display: flex;
    align-items: center;
    justify-content: center;
}



#formulario, #formEditarUser{
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.ventana__modal, .ventana_modal--edit{
    background-color: #fff;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 7px 10px 5px #0006;
    position: relative;
    transition: transform .6s;
}

.ventana__modal{
    transform: translateY(0%);
}

.ventana_modal--edit{
    transform: translateX(0%);
}

.ventana-close{
    transform: translateY(-200%);
}

.ventana-close-edit{
    transform: translateX(-200%);
}

.form__name--add, .form_modal{
    padding: 20px;
}

.form__name--add{
    border-bottom: 1px solid rgba(173, 173, 173, 0.467);
}

.form_modal{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__name--add p{
    font-weight: bold;
}

.form__name--add i{
    font-size: 20px;
    padding-right: 5px;
}

.input__box{
    width: 100%;
    box-sizing: border-box;
}

.input__box input, .input__box textarea, .input__box select{
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(173, 173, 173, 0.467);
    border-radius: 5px;
}

.input__box label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input__box input:focus-visible, .input__box textarea:focus-visible
, .input__box select:focus-visible{
    outline: 2px solid #71b2fb;
}

.input__box select{
    font-weight: bold;
}

.button__modal{
    display: flex;
    justify-content: right;
    padding: 15px 0 0 15px;
    border-top: 1px solid rgba(173, 173, 173, 0.467);
}

.btn-modal{
    display: flex;
    gap: 10px;
}

.btn-modal input{
    padding: 8px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-modal p{
    font-size: 12px;
}

.btn-modal input{
    background-color: #0078ff;
}

.btn-modal .btn-cancelar{
    background-color: #0009;
}