<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/carro.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="icon" th:href="@{/images/logo.png}" />
</head>

<body>

    <div th:insert="commerce/header.html"></div>

    <div class="wrapper">
        <main>
            <div class="container-cart">
                <div class="cart-products">
                    <!-- INICIO del Grid -->
                    <div class="grid">

                        <div class="productos">
                            <div class="selec-total">
                                <input type="checkbox" class="selec-total__checkbox" id="selec-total">
                                <div class="selec-total__title">Seleccionar todo</div>
                            </div>

                            <div class="info-product" th:if="${carrito != null}" th:each="item: ${carrito.item}"
                                th:data-price="${item.producto.precioVenta}" th:data-stock="${item.producto.stock}">
                                <div class="selec-product">
                                    <input type="checkbox" class="selec-product__checkbox"
                                        th:attr="data-id=${item.producto.idProducto}">
                                </div>

                                <div class="im_producto">
                                    <img th:src="${item.producto.imagen}" alt="Imagen del producto">
                                </div>

                                <div class="det-product">
                                    <div class="nom-product" th:text="${item.producto.nombre}">
                                        Nombre del producto
                                    </div>

                                    <div>
                                        <a class="acciones"
                                            th:href="@{/targus/venta/eliminar_prod/{id} (id = ${item.producto.idProducto}) }">Eliminar</a>
                                    </div>
                                </div>

                                <div class="canti-product">
                                    <button class="btn-restar" th:attr="data-id=${item.producto.idProducto}"
                                        onclick="disminuir(this)">-</button>
                                    <script>
                                        function disminuir(button) {
                                            const id = button.getAttribute("data-id")

                                            fetch(`/targus/venta/disminuir/${id}`, {
                                                method: 'POST'
                                            })
                                                .then(response => {
                                                    if (response.redirected) {
                                                        window.location.href = response.url
                                                    }
                                                })
                                                .catch(error => console.error("Error al disminuir la cantidad"))


                                        }
                                    </script>
                                    <span class="cantidad" th:text="${item.cantidad}">1</span>
                                    <button class="btn-sumar" th:attr="data-id=${item.producto.idProducto}"
                                        onclick="añadirProducto(this)">+</button>
                                    <script>
                                        function añadirProducto(button) {
                                            const id = button.getAttribute("data-id")

                                            fetch(`/targus/venta/agregar/${id}`, {
                                                method: 'POST'
                                            })
                                                .then(response => {
                                                    if (response.redirected) {
                                                        window.location.href = response.url
                                                    } else {
                                                        console.log("Producto añadido al carrito")
                                                    }
                                                })
                                                .catch(error => console.error("Error al agregar cantidad"))


                                        }
                                    </script>
                                </div>

                                <div class="precio-product">
                                    S/. <span class="precio-total" th:text="${item.total}">0.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="totales">
                            <div class="total-ti">
                                <strong>Resumen de compra</strong>
                            </div>
                            <div class="resumen">
                                <div class="resumen">
                                    <span class="resumen-text">Subtotal</span>
                                    <span class="resumen-valor" id="subtotal">S/. 0.00</span>
                                </div>
                                <div class="resumen">
                                    <span class="resumen-text">Envío</span>
                                    <span class="resumen-valor" id="envio">S/. 0.00</span>
                                </div>
                                <div class="resumen">
                                    <span class="resumen-text">Total</span>
                                    <span class="resumen-valor" id="total">S/. 0.00</span>
                                </div>
                            </div>
                            <div class="compra">
                                <button class="buy-button" type="button" id="comprar">Comprar</button>
                                <script th:if="${user != null}">
                                    document.getElementById("comprar").addEventListener("click", function () {
                                        const productos = obtenerProductos()

                                        if (productos.length === 0) {
                                            alert("Debes seleccionar al menos un producto")
                                            return;
                                        }


                                        console.log("Productos seleccionados:", productos);

                                        fetch('/targus/venta/pagar', {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify(productos)
                                        })
                                            .then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url
                                                }
                                            })
                                            .catch(error => {
                                                console.error("Error al pasar la informacion: ", error)
                                            })

                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                    <!-- FIN del Grid -->
                </div>
            </div>
        </main>
    </div>

    <div th:insert="commerce/footer.html"></div>

    <!-- Scripts -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const envioFijo = 10.00;
            const subtotalSpan = document.getElementById('subtotal');
            const envioSpan = document.getElementById('envio');
            const totalSpan = document.getElementById('total');
            const checkboxes = document.querySelectorAll('.selec-product__checkbox');

            function actualizarResumen() {
                let subtotal = 0;
                let haySeleccionados = false;

                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        const producto = checkbox.closest('.info-product');
                        const precio = parseFloat(producto.querySelector('.precio-total').textContent);
                        subtotal += precio;
                        haySeleccionados = true;
                    }
                });

                const envio = haySeleccionados ? envioFijo : 0;
                const total = subtotal + envio;

                subtotalSpan.textContent = `S/. ${subtotal.toFixed(2)}`;
                envioSpan.textContent = `S/. ${envio.toFixed(2)}`;
                totalSpan.textContent = `S/. ${total.toFixed(2)}`;
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', actualizarResumen);
            });

            const checkboxTodos = document.getElementById('selec-total');
            checkboxTodos.addEventListener('change', () => {
                checkboxes.forEach(checkbox => {
                    checkbox.checked = checkboxTodos.checked;
                });
                actualizarResumen();
            });



        });


        function obtenerProductos() {
            const productosSeleccionados = []
            const checkboxes = document.querySelectorAll(".selec-product__checkbox")

            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    const producto = checkbox.closest('.info-product');
                    const id = producto.querySelector('.btn-sumar').getAttribute('data-id');
                    const cantidad = producto.querySelector('.cantidad').textContent.trim();
                    productosSeleccionados.push({ cantidad: parseInt(cantidad), idProducto: parseInt(id) })
                }
            })

            return productosSeleccionados
        }

    </script>

</body>

</html>