<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>

    <link rel="stylesheet" th:href="@{/css/crear_cuenta.css}">
    <link rel="icon" th:href="@{/images/logo.png}">
</head>

<body>

    <div class="main-container">
        <div class="illustration-side">
            <div class="logo-container">
                <img th:src="@{/images/logo.png}" alt="Logo" class="logo">
            </div>
            <div class="illustrations">
                <div class="illustration-item top-right">
                    <div class="avatar">
                        <img src="https://static.grupojoly.com/clip/06db8897-19f6-4b74-a6ce-7811568269ec_source-aspect-ratio_1600w_0.jpg"
                            alt="Avatar 1">
                    </div>
                </div>
                <div class="illustration-item left">
                    <div class="avatar">
                        <img src="https://img.freepik.com/vector-premium/ilustracion-vector-grafico-personaje-dibujos-animados-registro-linea_516790-1808.jpg"
                            alt="Avatar 2">
                    </div>
                </div>
                <div class="illustration-item bottom-right">
                    <div class="avatar">
                        <img src="https://img.freepik.com/vector-premium/chica-dibujos-animados-compra-tecnologia-linea-sitio-web-computadora-portatil-ventas-estacionales-tiendas-linea-grandes-ventas-descuentos-compras-internet-eleccion-ropa-productos-nuevos-forma-remota-vector_776652-2602.jpg"
                            alt="Avatar 3">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-side">
            <div class="nav-links">
                <a th:href="@{/targus/principal/iniciar_crear}" class="enlaces">Iniciar sesion</a> |
                <a th:href="@{/targus/principal/form_crear}" class="enlaces">Crear cuenta</a>
            </div>

            <div class="container">
                <h2 id="titulo">Crea tu cuenta</h2>
                <form th:action="@{/targus/usuario/form_crear}" method="POST">
                    <fieldset>
                        <hr><br>
                        <div th:if="${error != null}">
                            *<span style="font-weight: bold; text-align: center;" th:text="${error}">Error al ingresar
                                el usuario</span>
                            <br><br>
                        </div>
                        <div class="form-row">
                            <label for="fecha_nac">Fecha de nacimiento:</label>
                            <input type="date" id="fecha_nac" name="fecha_nac" required>
                        </div>

                        <script>
                            const inputFecha = document.getElementById("fecha_nac")
                            const today = new Date();
                            // Restamos 18 años a la fecha actual
                            const year = today.getFullYear() - 18;
                            const month = String(today.getMonth() + 1).padStart(2, '0'); // Los meses van de 0 a 11
                            const day = String(today.getDate()).padStart(2, '0');

                            // Armamos la fecha límite permitida
                            const maxDate = `${year}-${month}-${day}`;

                            // Solo se podrá elegir hasta esa fecha (o sea, gente de 18 a más)
                            inputFecha.max = maxDate;
                        </script>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="soloText" id="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                                    name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellidos:</label>
                                <input type="text" class="soloText" id="apellido" name="apellido" required>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group">
                                <label for="num_documento">Num documento:</label>
                                <input type="text" class="soloNum" id="num_documento" name="num_documento"
                                    title="El DNI debe tener 8 dígitos" placeholder="Número de Documento" maxlength="8"
                                    required>
                                <span class="error-msg" id="error-num_documento"></span>

                            </div>
                            <div class="form-group">
                                <label for="celular">Celular:</label>
                                <input type="tel" class="soloNum" id="celular" name="celular" required maxlength="9">
                                <span class="error-msg" id="error-celular"></span>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="calle">Calle:</label>
                                <input class="text" type="text" id="calle" name="calle">
                            </div>
                            <div class="form-group">
                                <label for="departamento">Departamento:</label>
                                <select id="departamento">
                                    <option value="">-- Selecciona --</option>
                                </select>
                                <input type="hidden" id="departamentoNombre" name="departamento" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="provincia">Provincia:</label>
                                <select id="provincia">
                                    <option value="">-- Selecciona --</option>
                                </select>
                                <input type="hidden" id="provinciaNombre" name="provincia" />

                            </div>
                            <div class="form-group">
                                <label for="distrito">Distrito:</label>
                                <select id="distrito">
                                    <option value="">-- Selecciona --</option>
                                </select>
                                <input type="hidden" id="distritoNombre" name="distrito" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="username">Nombre de Usuario:</label>
                                <input class="soloText" type="text" id="username" name="username" required>
                                <span class="error-msg" id="error-username"></span>

                                <small id="mensaje-error"></small>
                            </div>
                            <div class="form-group">
                                <label for="correo">Correo Electrónico:</label>
                                <input type="email" id="correo" name="correo" required>
                                <span class="error-msg" id="error-correo"></span>

                                <small id="mensaje-error"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" id="contraseña" name="contraseña" required>
                                <ul id="vali_contra">
                                    <li id="req-longitud" class="invalido">Mínimo 8 caracteres</li>
                                    <li id="req-mayuscula" class="invalido">Al menos una mayúscula</li>
                                    <li id="req-minuscula" class="invalido">Al menos una minúscula</li>
                                    <li id="req-numero" class="invalido">Al menos un número</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="confirmar_contrasena">Confirmar contraseña:</label>
                                <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
                            </div>
                        </div>


                        <br>
                        <input id="boton_crear" class="boton_crear" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script>

        const username = document.getElementById("username")
        const correo = document.getElementById("correo")
        const num_documento = document.getElementById("num_documento")
        const celular = document.getElementById("celular")

        const boton_crear = document.getElementById('boton_crear')


        const errores = {
            correo: false,
            username: false,
            num_documento: false,
            celular: false
        }

        function actualizarBotones() {
            const hayErrores = Object.values(errores).some(e => e)
            boton_crear.disabled = hayErrores
            boton_actualizar.disabled = hayErrores
        }


        async function verificarCorreo(e) {
            const id = e.target.id
            const spanError = document.getElementById(`error-${id}`)
            const email = e.target.value

            const response = await fetch(`http://localhost:8080/api/users/email?email=${encodeURIComponent(email)}`)

            if (response.ok) {
                const existe = await response.json()

                if (existe) {
                    spanError.textContent = 'El correo ya existe'
                    errores[id] = true
                } else {
                    spanError.textContent = ''
                    errores[id] = false
                }
            } else {
                spanError.textContent = 'Error al validar los correos'
                errores[id] = true
            }

            actualizarBotones()
        }


        async function verificarUsername(e) {
            const id = e.target.id
            const spanError = document.getElementById(`error-${id}`)
            const user = e.target.value

            const response = await fetch(`http://localhost:8080/api/users/username?username=${encodeURIComponent(user)}`)

            if (response.ok) {
                const existe = await response.json()

                if (existe) {
                    spanError.textContent = 'El username ya existe'
                    errores[id] = true
                } else {
                    spanError.textContent = ''
                    errores[id] = false
                }
            } else {
                spanError.textContent = 'Error al validar el username'
                errores[id] = true
            }

            actualizarBotones()
        }

        async function verificarDni(e) {
            const id = e.target.id
            const spanError = document.getElementById(`error-${id}`)
            const dni = e.target.value

            const response = await fetch(`http://localhost:8080/api/person/dni?dni=${encodeURIComponent(dni)}`)

            if (response.ok) {
                const existe = await response.json()

                if (existe) {
                    spanError.textContent = 'El dni ya existe'
                    errores[id] = true
                } else {
                    spanError.textContent = ''
                    errores[id] = false
                }
            } else {
                spanError.textContent = 'Error al validar los dni'
                errores[id] = true
            }

            actualizarBotones()
        }

        async function verificarTelefono(e) {
            const id = e.target.id
            const spanError = document.getElementById(`error-${id}`)
            const telefono = e.target.value

            const response = await fetch(`http://localhost:8080/api/person/telefono?telefono=${encodeURIComponent(telefono)}`)

            if (response.ok) {
                const existe = await response.json()

                if (existe) {
                    spanError.textContent = 'El telefono ya existe'
                    errores[id] = true
                } else {
                    spanError.textContent = ''
                    errores[id] = false
                }
            } else {
                spanError.textContent = 'Error al validar los telefonos'
                errores[id] = true
            }

            actualizarBotones()
        }

        correo.addEventListener('input', verificarCorreo)
        num_documento.addEventListener('input', verificarDni)
        celular.addEventListener('input', verificarTelefono)
        username.addEventListener('input', verificarUsername)

    </script>


    <!-----------------------INICIO NOTIFICACIONES DE ERRORES--------------------------------->
    <script>
        const inputPass = document.getElementById('contraseña');
        const requisitos = document.getElementById('vali_contra');

        // Mostrar requisitos al enfocar
        inputPass.addEventListener('focus', () => {
            requisitos.style.display = 'block';
        });

        // Ocultar al salir del campo (opcional)
        inputPass.addEventListener('blur', () => {
            requisitos.style.display = 'none';
        });

        // Validación en tiempo real
        inputPass.addEventListener('input', function () {
            const valor = inputPass.value;

            const longitud = valor.length >= 8;
            const mayuscula = /[A-Z]/.test(valor);
            const minuscula = /[a-z]/.test(valor);
            const numero = /[0-9]/.test(valor);

            actualizarEstado('req-longitud', longitud, 'Mínimo 8 caracteres');
            actualizarEstado('req-mayuscula', mayuscula, 'Al menos una mayúscula');
            actualizarEstado('req-minuscula', minuscula, 'Al menos una minúscula');
            actualizarEstado('req-numero', numero, 'Al menos un número');
        });

        // Función para actualizar los requisitos
        function actualizarEstado(id, cumple, texto) {
            const el = document.getElementById(id);
            if (cumple) {
                el.classList.remove('invalido');
                el.classList.add('valido');
            } else {
                el.classList.remove('valido');
                el.classList.add('invalido');
            }
        }
    </script>

    <script>
        document.querySelector("form").addEventListener("submit", function (e) {
            let mensajeError = "";
            const password = document.getElementById("contraseña").value;
            const repassword = document.getElementById("confirmar_contrasena").value;

            const longitud = password.length >= 8;
            const mayuscula = /[A-Z]/.test(password);
            const minuscula = /[a-z]/.test(password);
            const numero = /[0-9]/.test(password);

            if (!longitud) {
                mensajeError += "La contraseña debe tener al menos 8 caracteres\n"
            }

            if (!mayuscula) {
                mensajeError += "La constraseña debe tener al menos una mayuscula\n"
            }

            if (!minuscula) {
                mensajeError += "La constraseña debe tener al menos una minuscula\n"
            }

            if (!numero) {
                mensajeError += "La contraseña debe tener al menos un numero\n"
            }

            if (password !== repassword) {
                mensajeError += "Las contraseñas no coinciden\n";
            }

            if (mensajeError) {
                e.preventDefault();
                alert(mensajeError)
            }
        });
    </script>


    <script>
        const urlDepartamentos = "https://raw.githubusercontent.com/RitchieRD/ubigeos-peru-data/refs/heads/main/json/1_ubigeo_departamentos.json"
        const urlProvincias = "https://raw.githubusercontent.com/RitchieRD/ubigeos-peru-data/refs/heads/main/json/2_ubigeo_provincias.json"
        const urlDistritos = "https://raw.githubusercontent.com/RitchieRD/ubigeos-peru-data/refs/heads/main/json/3_ubigeo_distritos.json"

        const departamentoSelect = document.getElementById("departamento");
        const provinciaSelect = document.getElementById("provincia");
        const distritoSelect = document.getElementById("distrito");

        let departamentos = [];
        let provincias = [];
        let distritos = [];

        Promise.all([
            fetch(urlDepartamentos).then(res => res.json()),
            fetch(urlProvincias).then(res => res.json()),
            fetch(urlDistritos).then(res => res.json())
        ])
            .then(([depData, provData, distData]) => {
                departamentos = depData.ubigeo_departamentos || depData;
                provincias = provData.ubigeo_provincias || provData;
                distritos = distData.ubigeo_distritos || distData;

                // Llenar departamentos
                departamentos.forEach(dep => {
                    const option = document.createElement("option");
                    option.value = dep.id; // usamos ID numérico
                    option.textContent = dep.departamento;
                    departamentoSelect.appendChild(option);
                });

                departamentoSelect.disabled = false;
            })
            .catch(err => {
                console.error("❌ Error cargando los archivos JSON:", err);
            });

        departamentoSelect.addEventListener("change", () => {
            const nombreSeleccionado = departamentoSelect.options[departamentoSelect.selectedIndex].text
            document.getElementById("departamentoNombre").value = nombreSeleccionado

            provinciaSelect.innerHTML = '<option value="">-- Selecciona --</option>';
            distritoSelect.innerHTML = '<option value="">-- Selecciona --</option>';
            provinciaSelect.disabled = true;
            distritoSelect.disabled = true;

            const depId = Number(departamentoSelect.value);
            if (!depId) return;

            const provinciasFiltradas = provincias.filter(p => p.departamento_id === depId);
            provinciasFiltradas.forEach(prov => {
                const option = document.createElement("option");
                option.value = prov.id; // usamos ID de provincia
                option.textContent = prov.provincia;
                provinciaSelect.appendChild(option);
            });

            provinciaSelect.disabled = false;
        });

        provinciaSelect.addEventListener("change", () => {
            const nombreSeleccionado = provinciaSelect.options[provinciaSelect.selectedIndex].text
            document.getElementById("provinciaNombre").value = nombreSeleccionado
            distritoSelect.innerHTML = '<option value="">-- Selecciona --</option>';
            distritoSelect.disabled = true;

            const provId = Number(provinciaSelect.value);
            if (!provId) return;

            const distritosFiltrados = distritos.filter(d => d.provincia_id === provId);
            distritosFiltrados.forEach(dist => {
                const option = document.createElement("option");
                option.value = dist.id; // usamos ID de distrito
                option.textContent = dist.distrito;
                distritoSelect.appendChild(option);
            });

            distritoSelect.disabled = false;
        });

        distritoSelect.addEventListener("change", () => {
            const nombreSeleccionado = distritoSelect.options[distritoSelect.selectedIndex].text
            document.getElementById("distritoNombre").value = nombreSeleccionado
        })

    </script>

    <script th:src="@{/js/validacionesInput.js}"></script>

</body>

</html>