<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>

    <link rel="stylesheet" th:href="@{/css/crear_cuenta.css}">
    <link rel="icon" th:href="@{/images/logo.png}">
</head>

<body>

    <div class="main-container">
        <div class="illustration-side">
            <div class="logo-container">
                <img th:src="@{/images/logo.png}" alt="Logo" class="logo">
            </div>
            <div class="illustrations">
                <div class="illustration-item top-right">
                    <div class="avatar">
                        <img src="https://static.grupojoly.com/clip/06db8897-19f6-4b74-a6ce-7811568269ec_source-aspect-ratio_1600w_0.jpg"
                            alt="Avatar 1">
                    </div>
                </div>
                <div class="illustration-item left">
                    <div class="avatar">
                        <img src="https://img.freepik.com/vector-premium/ilustracion-vector-grafico-personaje-dibujos-animados-registro-linea_516790-1808.jpg"
                            alt="Avatar 2">
                    </div>
                </div>
                <div class="illustration-item bottom-right">
                    <div class="avatar">
                        <img src="https://img.freepik.com/vector-premium/chica-dibujos-animados-compra-tecnologia-linea-sitio-web-computadora-portatil-ventas-estacionales-tiendas-linea-grandes-ventas-descuentos-compras-internet-eleccion-ropa-productos-nuevos-forma-remota-vector_776652-2602.jpg"
                            alt="Avatar 3">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-side">
            <div class="nav-links">
                <a th:href="@{/targus/principal/iniciar_crear}" class="enlaces">Iniciar sesion</a> |
                <a th:href="@{/targus/principal/form_crear}" class="enlaces">Crear cuenta</a>
            </div>

            <div class="container">
                <h2 id="titulo">Crea tu cuenta</h2>
                <form th:action="@{/targus/usuario/form_crear}" method="POST">
                    <fieldset>
                        <hr><br>

                        <div class="form-row">
                            <label for="fecha_nac">Fecha de nacimiento:</label>
                            <input type="date" id="fecha_nac" name="fecha_nac" required>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellidos:</label>
                                <input type="text" id="apellido" name="apellido" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="num_documento">Num documento:</label>
                                <input type="text" id="num_documento" name="num_documento"
                                    title="El DNI debe tener 8 dígitos" placeholder="Número de Documento" maxlength="8"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="celular">Celular:</label>
                                <input type="tel" id="celular" name="celular" required maxlength="9">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="calle">Calle:</label>
                                <input type="text" id="calle" name="calle">
                            </div>
                            <div class="form-group">
                                <label for="ciudad">Ciudad:</label>
                                <input type="text" id="ciudad" name="ciudad">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="distrito">Distrito:</label>
                                <input type="text" id="distrito" name="distrito">
                            </div>
                            <div class="form-group">
                                <label for="provincia">Provincia:</label>
                                <input type="text" id="provincia" name="provincia">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="username">Nombre de Usuario:</label>
                                <input type="text" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="correo">Correo Electrónico:</label>
                                <input type="email" id="correo" name="correo" required>
                            </div>
                        </div>
                        <!-- Password - 2 columns -->
                        <div class="form-row">
                            <div class="form-group">
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" id="contraseña" name="contraseña" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmar_contrasena">Confirmar contraseña:</label>
                                <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
                            </div>
                        </div>

                        <br>
                        <input id="boton_crear" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.querySelector("form").addEventListener("submit", function (e) {
            const password = document.getElementById("contraseña").value;
            const repassword = document.getElementById("confirmar_contrasena").value;
            console.log(password);

            if (password !== repassword) {
                e.preventDefault();
                alert("Las contraseñas no coinciden.");
            }
        });
    </script>

    <script th:if="${error != '' && error != null}">
        alert("[[${error}]]");
    </script>
</body>

</html>