<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=account_circle" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" th:src="@{/images/Targus_Logo.png}">
</head>

<body>
    <header id="encabezado">
        <nav>
            <center>
                <a href="/targus/principal/" id="logo">
                    <img id="maxi" th:src="@{/images/Targus_Logo2.png}" alt="">
                </a>
            </center>
        </nav>
        <!-- <nav>
            <form th:action="@{/buscar}" method="post" autocomplete="off">
                <div class="barra_busqueda">
                    <input type="text" name="q" id="q" class="barra" placeholder="Buscar...."
                        aria-describedby="icon.buscar">
                    <button type="submit" id="busc">
                        <i class="fast fa-search">Buscar</i>
                    </button>
                </div>
            </form>
        </nav> -->
        <nav>
            <button class="boton_opciones" onclick="location.href = '/targus/principal/'">Inicio</button>
        </nav>
        <nav>
            <button class="boton_opciones" onclick="location.href = '/targus/producto/'">Productos</button>
        </nav>
        <nav>
            <div class="opciones_usuario" onmouseleave="cerrar_bloque()">
                <button id="cuenta" class="boton_opciones" onclick="location.href = '/targus/principal/iniciar_crear'"
                    onmouseenter="abrirMenu()">Mi
                    cuenta</button>
                <div th:if="${user != null}" id="menu_usu" class="op_usu">
                    <ul class="list_op">
                        <li class="op">
                            <a class="cerrar" th:href="@{/targus/usuario/info}">Información personal</a>
                            <a class="cerrar" th:href="@{/targus/principal/cerrar}">Cerrar sesión</a>

                        </li>
                    </ul>
                </div>
                <!--INICIO del Cambio del header al bajar-->
            <script>
                const header = document.getElementById('encabezado');
            
                  window.addEventListener('scroll', () => {
                  if (window.scrollY > 50) {
                  header.classList.add('shrink');
                  } else {
                  header.classList.remove('shrink');
            }
            });

              </script>
 
                <!--FIN del Cambio del header al bajar-->

                <script th:if="${user != null}">
                    document.getElementById('cuenta').innerHTML = "Bienvenido [[${user.nombre}]]";
                    document.getElementById('cuenta').onclick = actualizar;
                    function actualizar() {
                        window.location.href = '/targus/principal/opcion';
                    }

                    function abrirMenu() {
                        document.getElementById('menu_usu').style.display = "block";
                        document.getElementById('cuenta').style.marginTop = "0px";
                    }

                    function cerrar_bloque() {
                        document.getElementById('menu_usu').style.display = "none";
                        document.getElementById('cuenta').style.marginTop = "0px";
                    }
                </script>
            </div>
        </nav>
     
        <nav id="carrito_compra">
            <a th:href="@{/targus/principal/carro}">
                <img th:src="@{/images/bolsita.png}" alt="Carrito de compra" id="carrito">
                <div class="cantidad_productos">
                    <span id="contador">0</span>
                </div>
            </a>
            <div class="info_producto">
                <div class="row_product" th:if="${carrito != null}">
                    <div class="cart_product" th:each="item: ${carrito.item}">
                        <div class="info_product">
                            <span id="id_pro" class="idd" name="id_pro" style="display: none;"></span>
                            <span class="cantidad_product" th:text="${item.cantidad}">0</span>
                            <span class="titulo_product" th:text="${item.producto.nombre}">Ningun producto</span>
                            <span class="precio_product" th:text="${ item.producto.precioVenta}">$0</span>
                            <a th:href="@{/targus/venta/eliminar_prod/{id} (id = ${item.producto.idProducto}) }" class="eliminar_prod_link"><img th:src="@{/images/x-regular-24.png}"
                                alt="un icono" class="icono"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="cart_total">
                    <h3>Total</h3>
                    <span class="total_pagar">S/0</span>
                </div>
                <script>
                    let valor_total = 0
                    document.querySelectorAll('.info_product').forEach(function(element) {
                        let cantidad = parseInt(element.querySelector(".cantidad_product").innerText)
                        let precio = parseFloat(element.querySelector(".precio_product").innerText)
                        
                        valor_total += cantidad * precio

                    });
                    
                    document.querySelector('.total_pagar').innerText = "S/" + valor_total.toFixed(2);

                </script>
            </div>
        </nav>
    </header>
</body>

</html>