<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio de Sesión</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/iniciosesion.css}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
              rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" th:href="@{/images/logo.png}">
    </head>
    <body>
        <div th:insert="commerce/header.html"></div>

        <div id="iniciar">
            <div class="container">
                <div class="contenido-login">
                    <form th:action="@{/targus/principal/iniciar_crear}" method="POST">
                        <img th:src="@{/images/usuario.png}">
                        <h2 class="titulo">Bienvenido</h2>
                        <div class="input-div uno">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5>Usuario</h5>
                                <input type="text" class="input" name="email" id="email" required>
                            </div>
                        </div>
                        <div th:if="${param.error}">
                            <p id="mensaje1">*Correo incorrecto </p>
                        </div>

                        <div class="input-div dos">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Contraseña</h5>
                                <input type="password" class="input" name="password" id="password" required>
                            </div>
                        </div>
                        <div th:if="${param.error} or ${param.bloquear}">
                            <p id="mensaje2">*Correo y contraseña incorrectos </p><br/> 
                        </div>


                        <a th:href="@{/targus/usuario/recuperar}">¿Olvidastes tu contraseña?</a>
                        <input type="submit" class="btn" id="enviar">
                        
                        <script th:if="${param.bloquear}">
                            var tiempoRestante = 5;
                            var intervalo = setInterval(function () {
                                document.getElementById('mensaje2').innerHTML = "Demasiados intentos. Espera " + tiempoRestante + " segundos.";
                                tiempoRestante--;
                                document.getElementById("enviar").disabled = true;
                                if (tiempoRestante < 0) {
                                    clearInterval(intervalo);
                                    document.getElementById('mensaje2').style.display = "none";
                                    document.getElementById("enviar").disabled = false;
                                }
                            }, 1000);
                        </script>
                    </form>
                </div>
                <div class="contenido-registro">
                    <img th:src="@{/images/registro.png}" class="imagen">
                    <h2 class="titulod">Regístrate y obtén los siguientes beneficios</h2>
                    <ul>
                        <li>Recibe las últimas ofertas</li>
                        <li>Obtén beneficios exclusivos</li>
                        <li>Productos a pedido internacional</li>
                        <li>Pedidos sin gasto de envío</li>
                        <li>Notificación de nuevos productos</li>
                    </ul>
                    <a th:href="@{/targus/principal/form_crear}" class="btn-registro">Crear cuenta</a>
                </div>
            </div>
            <script type="text/javascript" th:src="@{/js/iniciosesion.js}"></script>

        </div>
    </body>

</html>