<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}">

</head>

<body>
    <h1>Gracias por tu compra</h1>
    <p>Los artículos siguientes se estan preparando para el envio.</p>
    <table border="2">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <tr th:each="list : ${lista}">
            <td th:each="producto : ${productos}" th:if="${producto.idProducto == list.idProducto}"
                th:text="${producto.nombre}"></td>
            <td th:text="${list.cantidadProducto}"></td>
            <td th:each="producto : ${productos}" th:if="${producto.idProducto == list.idProducto}"
                th:text="${producto.precio}"></td>
        </tr>
    </table>
    <h2 th:text="'Total:' +  ${total}"></h2>
    <style>

        h2{
            text-align: right;
            padding-right: 40px;
        }

        p{
            font-size: 18px;
            text-align: left;
        }

        table {
            border: 3px solid black;
            width: 100%;
            text-align: center;
        }

        table th {
            border: 2px solid black;
            background-color: red;
            color: white;
        }

        td {
            border: 2px solid black;
        }
    </style>
</body>

</html>