<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaxiAhorro | Opciones</title>
        <link rel="stylesheet" th:href="@{/css/opcion_Usu.css}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" th:href="@{/images/logo.png}">
    </head>
    <body>
        <div th:insert="commerce/header.html"></div>

        <br/><br/>

        <div class="contenido">
            <a th:href="@{/info}">
                <div class="opciones">   
                    <div class="prin">
                        <img th:src="@{/images/id-card-regular-60.png}" alt="">
                        <h2>Información Personal:</h2>
                    </div>
                    <p>Edita tu información de contacto y cambia tu contraseña.</p>
                </div>  
            </a>

            <a th:href="@{/soporte}">
                <div class="opciones">
                    <div class="prin">
                        <img th:src="@{/images/support-regular-60.png}" alt="">
                        <h2>Soporte y Ayuda:</h2>
                    </div>
                    <p>Encuentra respuestas en la sección de preguntas frecuentes o contacta a nuestro equipo de soporte.</p>
                </div>
            </a>

            <a th:if="${rol == 'Administrador' && rol != null}" th:href="@{/adminProducto}">
                <div class="opciones">
                    <div class="prin">
                        <img th:src="@{/images/support-regular-60.png}" alt="">
                        <h2>Administrador</h2>
                    </div>
                    <p>Operaciones básicas para gestionar los datos almacenados en la base de datos y el sistema</p>
                </div>
            </a>
            

        </div>

        <div th:insert="commerce/footer.html"></div>



    </body>

</html>